<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/vendor/bootstrap-icon/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/main.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
</head>

<body>
    <div class="herobanner">
        <img src="../../../public/img/Eco-Action.jpg" alt="">
        <div class="overlay">
            <div class="event-details text-center p-4 ">
                <h5 class="fw-bold text-brand mb-3">Fri, 25 Feb 2025</h5>
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                <p class="fs-18 mt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos, ex laudantium veniam voluptate
                    harum similique accusamus laboriosam perferendis consequatur quos cum tenetur!</p>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="event-image">
                    <img class="rounded-3" src="../../../public/img/Eco-Action.jpg" alt="">
                </div>
                <div class="event-description fs-18 py-3">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quasi praesentium omnis maxime
                        placeat facere! Doloribus dolorem iure illum blanditiis, velit, eligendi omnis nostrum atque
                        deleniti ipsam dolores quibusdam incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Ratione magni distinctio laboriosam sunt dolor rerum ipsam dolore reiciendis ut, suscipit
                        corporis, dolorem nam! Sapiente dolorem nesciunt sunt tempore architecto aut?Lorem ipsum dolor
                        sit amet consectetur, adipisicing elit. Voluptas esse debitis laboriosam nostrum incidunt vero
                        excepturi magni cupiditate ad consectetur aspernatur rem nulla, corporis, iure repudiandae
                        doloremque ratione cumque numquam?
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quasi praesentium omnis maxime
                        placeat facere! Doloribus dolorem iure illum blanditiis, velit, eligendi omnis nostrum atque
                        deleniti ipsam dolores quibusdam incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Ratione magni distinctio laboriosam sunt dolor rerum ipsam dolore reiciendis ut, suscipit
                        corporis, dolorem nam! Sapiente dolorem nesciunt sunt tempore architecto aut?Lorem ipsum dolor
                        sit amet consectetur, adipisicing elit. Voluptas esse debitis laboriosam nostrum incidunt vero
                        excepturi magni cupiditate ad consectetur aspernatur rem nulla, corporis, iure repudiandae
                        doloremque ratione cumque numquam?
                        doloremque ratione cumque numquam?
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla quasi praesentium omnis maxime
                        placeat facere! Doloribus dolorem iure illum blanditiis, velit, eligendi omnis nostrum atque
                        deleniti ipsam dolores quibusdam incidunt. Lorem ipsum dolor, sit amet consectetur adipisicing
                        elit. Ratione magni distinctio laboriosam sunt dolor rerum ipsam dolore reiciendis ut, suscipit
                        corporis, dolorem nam! Sapiente dolorem nesciunt sunt tempore architecto aut?Lorem ipsum dolor
                        sit amet consectetur, adipisicing elit. Voluptas esse debitis laboriosam nostrum incidunt vero
                        excepturi magni cupiditate ad consectetur aspernatur rem nulla, corporis, iure repudiandae
                        doloremque ratione cumque numquam?
                    </p>

                </div>
            </div>
            <div class="col-12 col-md-4 ">
                <div class="card card-style shadow mb-3">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h4>Event Details</h4>
                        <div>
                            <a class="fav-heart-stle me-2" href="#"><i class="fa-solid fa-heart fs-5 text-brand"></i></a>
                           <a class="fav-heart-stle" href="#"><i class="fa-solid fa-share  fs-5 text-brand"></i></a>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3">
                        <i class="fa-solid fa-calendar-check text-brand mt-1 me-3 fs-5 "></i>
                        <div>
                            <span class="fs-5">Start Date</span> <br>
                            <span class="">27 Feb 2025</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3">
                        <i class="fa-solid fa-calendar-check text-brand mt-1 me-3 fs-5 "></i>
                        <div>
                            <span class="fs-5">End Date</span> <br>
                            <span class="">28 Feb 2025</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3">
                        <i class="fa-solid fa-clock text-brand mt-1 me-3 fs-5 "></i>
                        <div>
                            <span class="fs-5">Time</span> <br>
                            <span class="">8:30 am - 11:30 am</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3 ">
                        <i class="fa-solid fa-calendar-check text-brand mt-1 me-3 fs-5 "></i>
                        <div>
                            <span class="fs-5">Status</span> <br>
                            <span class="">Up comming</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3 ">
                        <i class="fa-solid fa-location-dot text-brand mt-1 me-3 fs-5"></i>
                        <div>
                            <span class="fs-5">Location</span> <br>
                            <span class="">Phnom Penh</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3 ">
                        <i class="fa-solid fa-layer-group mt-1 me-3 fs-5 text-brand"></i>
                        <div>
                            <span class="fs-5">Catagory</span> <br>
                            <span class="">Party</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3">
                        <i class="fa-solid fa-tags mt-1 me-3 fs-5 text-brand"></i>
                        <div>
                            <span class="fs-5">Price</span> <br>
                            <span>$10.00</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-4 ">
                        <i class="fa-solid fa-ticket mt-1  me-3 fs-5 text-brand"></i>
                        <div>
                            <span class="fs-5">Ticket Opacity</span> <br>
                            <span>200</span>
                        </div>
                    </div>
                    <div class="line-style"></div>
                    <div class="d-flex p-3 ">
                        <i class="fa-solid fa-ticket mt-1 me-3 fs-5 text-brand"></i>
                        <div>
                            <span class="fs-5">Reminding Tickets</span> <br>
                            <span >5</span>
                        </div>
                    </div>

                </div>
                <div class="card card-style text-start mb-3">
                    <div class="d-flex">
                        <div class="orgainer-profile">
                            <img class="card-img-top" src="/" alt="Title" />
                        </div>
                        <div class="organizer-name fs-18 fw-medium ms-2 me-auto p-3">Tom Jerrynie</div>
                        <a href="#">
                            <p class="p-3 fw-semibold">Follow</p>
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Hello beautiful world!</h4>
                    </div>
                </div>
                <div class="card card-purchase card-style">
                    <div class="card-purchaseTicket rounded-2 p-3">
                        <div class="d-flex justify-content-between fw-semibold mb-2">
                            <h5 class="ticket-price">Price</h5>
                        <h5>$10.00/ticket</h5>
                        </div>
                        <button type="submit" class="btn btn-brand w-100">Purchase Now</button>
                      
                    </div>
                    <div>
                       
                    </div>
                </div>
            </div>
            
        </div>
        <h2 class="fw-bold mb-3">Related <span class="text-brand">Event</span></h2>
       <div class="row">
        <div class="col-12 col-md-3">
            <div class="card-event">
                <img class="position-absolute" src="../../../public/img/Eco-Action.jpg" alt="">
                <section class="top"></section>
                <div class="event-info">
                    <p class="price">70$</p>
        
                    <div class="additional-info">
                        <p class="title text-white fs-5">NY Music Festival</p>
                        <p class="info ">
                            <i class="fas fa-map-marker-alt fs-5"></i>
                           Palace Theather
                        </p>
                        <p class="info">
                            <i class="fas fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM
                        </p>
                    </div>
                    <button class="action mt-5">Book it</button>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-3">
            <div class="card-event">
                <img class="position-absolute w-100" src="../../../public/img/workshop_tech.jpg" alt="Workshop Tech Event">
                <section class="top"></section>
                <div class="event-info">
                    <p class="price">70$</p>
        
                    <div class="additional-info">
                        <p class="title text-white fs-5">NY Music Festival</p>
                        <p class="info ">
                            <i class="fas fa-map-marker-alt fs-5"></i>
                           Palace Theather
                        </p>
                        <p class="info">
                            <i class="fas fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM
                        </p>
                    </div>
                    <button class="action mt-5">Book it</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card-event">
                <img class="position-absolute w-100" src="../../../public/img/workshop_tech.jpg" alt="Workshop Tech Event">
                <section class="top"></section>
                <div class="event-info">
                    <p class="price">70$</p>
        
                    <div class="additional-info">
                        <p class="title text-white fs-5">NY Music Festival</p>
                        <p class="info ">
                            <i class="fas fa-map-marker-alt fs-5"></i>
                           Palace Theather
                        </p>
                        <p class="info">
                            <i class="fas fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM
                        </p>
                    </div>
                    <button class="action mt-5">Book it</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card-event">
                <img class="position-absolute" src="../../../public/img/Eco-Action.jpg" alt="">
                <section class="top"></section>
                <div class="event-info">
                    <p class="price">70$</p>
        
                    <div class="additional-info">
                        <p class="title text-white fs-5">NY Music Festival</p>
                        <p class="info ">
                            <i class="fas fa-map-marker-alt fs-5"></i>
                           Palace Theather
                        </p>
                        <p class="info">
                            <i class="fas fa-calendar-alt"></i>
                            Sat, Sep 19, 10:00 AM
                        </p>
                    </div>
                    <button class="action mt-5">Book it</button>
                </div>
            </div>
        </div>
       </div>




    </div>

</body>
<script src="../../../public/js/bootstrap.bundle.min.js"></script>

</html>