<!DOCTYPE html>
<html lang="en">

    <%- include('../../partials/head.ejs') %>

    <body>

        <div class="container-form sign-up-mode">
            <div class="forms-container">
              <div class="signin-signup">
      
                <!-- Sign Up Form -->
                <form id="reset-password-form" class="sign-up-form" autocomplete="off">
                  <h2 class="title mb-4">Reset Password</h2>
                  
                  <!-- <label style="max-width: 380px; width: 100%;" class="fw-medium" for="">Enter Your Email Address</label> -->
                  <div class="input-field" id="input-field-new-password">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="New Password" id="newPassword" autofocus/>
                  </div>
                  <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2" id="invalid_feedback_new_password">
                    <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2">Invalid email.</div>
                  </div>
                  <div class="input-field" id="input-field-confirm-new-password">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Confirm Password" id="confirmNewPassword" autofocus/>
                  </div>
                  <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2" id="invalid_feedback_confirm_new_password">
                    <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2">Invalid email.</div>
                  </div>
                  
                  
                  <div class style="max-width: 380px; width: 100%;">
      
                    <!-- Changed input to button -->
                    <button type="submit" class="btn">Reset Password</button>
                  </div>
                </form>
              </div>
            </div>
      
            <!-- Panels Container -->
            <div class="panels-container">
              <div class="panel left-panel">
                <div class="content">
                  <h3>
                    Create amazing memories with us!
                  </h3>
                  <button class="btn transparent mt-3" id="sign-up-btn">Sign
                    up</button>
                </div>
                <img src="/img/log.svg" class="image" alt />
              </div>
              <div class="panel right-panel">
                <!-- <div class="content">
                  <h3>
                    Welcome back! Let's get started Again!.
                  </h3>
                  <a role="button" href="/signin" class="btn transparent mt-3 "
                    id="sign-in-btn">Sign In</a>
                </div> -->
                <img src="/img/register.svg" class="image" alt />
              </div>
            </div>
          </div>

        <%- include('../../partials/script.ejs')  %>
        <script src="/js/auth/reset-password.js"></script>
    </body>

</html>