<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs')  %>

  <body>
    <!-- <div class="logo">
        <a href="../../homepage.html">
            <img class="m-4" src="/img/Prutika_Logo_text(2).png" alt style="width: 160px;">
        </a>
      </div> -->
    <div class="container-form sign-up-mode">
      <div class="forms-container">
        <div class="signin-signup">

          <!-- Sign Up Form -->
          <form id="sign-up-form" class="sign-up-form" autocomplete="off">
            <h2 class="title">Sign Up</h2>
            
            <div class="input-field" id="input-field-name">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" id="sign-up-name" autofocus/>
            </div>
            <div
              class="invalid_feedback text-danger d-flex align-items-center mb-2" id="invalid_feedback_name">
              <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
              <div class="ms-2">Invalid email.</div>
            </div>
            <div class="input-field" id="input-field-email">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" id="sign-up-email" />
            </div>
            <div
              class="invalid_feedback text-danger d-flex align-items-center mb-2" id="invalid_feedback_email">
              <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
              <div class="ms-2">Invalid email.</div>
            </div>
            <div class="input-field" id="input-field-password">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" id="sign-up-password" />
            </div>
            <div
              class="invalid_feedback text-danger d-flex align-items-center mb-2" id="invalid_feedback_password">
              <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
              <div class="ms-2">Invalid email.</div>
            </div>
            <div class="input-field" id="input-field-confirm-password">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Confirm Password" id="sign-up-confirm-password" />
            </div>
            <div
              class="invalid_feedback text-danger d-flex align-items-center mb-2" id="invalid_feedback_confirm_password">
              <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
              <div class="ms-2">Invalid email.</div>
            </div>
            <div class style="max-width: 380px; width: 100%;">

              <!-- Changed input to button -->
              <button type="submit" class="btn btn-brand w-100" id="btnSignUp">Sign Up</button>
            </div>

            <p class="social-text">Or Sign Up With Social Platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <!-- Panels Container -->
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>
              Create amazing memories with us!
            </h3>
            <button class="btn btn-outline-brand-white mt-3" id="sign-up-btn">Sign
              up</button>
          </div>
          <img src="/img/log.svg" class="image" alt />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>
              Welcome back! Let's get started Again!.
            </h3>
            <a role="button" href="/signin" class="btn btn-outline-brand-white mt-3 "
              id="sign-in-btn">Sign In</a>
          </div>
          <img src="/img/login.png" class="image" alt />
        </div>
      </div>
    </div>
    <%- include('../../partials/script.ejs')  %>
    <script src="/js/auth/sign-up.js"></script>
  </body>
</html>
