<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>


        <!-- Header -->
        <%- include('../partials/navbar.ejs') %>

            <div class="form-container">
                <h2>Sign In</h2>
                <form action="/signin" method="post" id="userForm">

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Your email">
                    </div>

                    <div class="form-group">
                        <label for="verifyOtp">OTP : </label>
                        <input type="text" id="verifyOtp" name="verifyOtp" placeholder="Enter Your OTP">
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>