<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WishList</title>
     <!-- Stylesheets -->
     <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
     <link rel="stylesheet" href="../../../public/vendor/bootstrap-icon/bootstrap-icons.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
     <link rel="stylesheet" href="../../../public/css/main.css">
     <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>

    <div class="container py-5">
        
    <!-- Navigation Links -->
    <div class="d-flex mb-4">
        <a class="nav-link fw-bold nav-underline fs-4 me-3" href="#">Home</a>
        <a class="nav-link fw-bold nav-underline text-brand fs-4" href="#">My WishList
            <i class="fa-regular fa-heart text-brand"></i>   
        </a>
      </div>
      
    
    <!-- Tickets Table -->
    <table class="table table-borderless align-middle">
      
        <thead>
          <tr class="border-bottom fs-4">
            <th scope="col">Event</th>
            <th scope="col">TacketPrice</th>
            <th scope="col"></th>
            <th scope="col"><strong class="text-brand me-3">2</strong> WishList<i class="fa-regular fa-heart text-brand ms-2"></i>   </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <!-- Event Card -->
              <div class="d-flex align-items-start">
                <img class="event-card-img me-3 rounded" src="../../../public/img/Eco-Action.jpg" alt="Event Image"
                  style="width: 200px; height: 110px; object-fit: cover;">
                <div class="fs-18">
                  <div class="event-title fw-bold fs-5 ">Eco-Action Fair</div>
                  <i class="fa-solid fa-list me-2 text-brand"></i>
                  <span class="text-brand fw-medium">Family and Kids, Food and Drink</span>
                  <p class="schedule text-muted mb-0">
                  <div>
                    <i class="fa-regular fa-calendar-check me-2 text-brand"></i>
                    <span>Saturday, February 22, 2025 at CKCC</span>
                  </div>
                   <div>
                    <i class="fa-solid fa-location-dot me-2 text-brand"></i>
                   <span>2nd Floor Aeon2 Phnom Penh Cambodia</span>
                   </div>
                </p>
                </div>
              </div>
            </td>
            <td>
              <span class="ticket-price fs-4 "><i class="fa-solid fa-tags text-brand  me-2"></i><strong>$15.00</strong></span>
            </td>
           
            <td>
             <a href="#"> <p class="mb-0 ms-4"><i class="fa-solid fa-delete-left text-brand display-3"></i></p></a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-brand ms-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Buy Ticket
                </button>
  
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                      <div class="modal-header border-bottom-0">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          <img src="../../../public/img/Prutika_Logo_text(2).png" alt="PRUTTIKA logo" style="width: 150px;">
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="ticket-container">
                          <div class="row">
                            <div class="ticket-header">VIP</div>
                            <!-- Left Section -->
                            <div class="col-12 col-md-8 m-0">
                              <div class="ticket-body">
                                <div class="ticket-section d-flex flex-wrap">
                                  <img src="../../../public/img/Prutika_Logo_text(2).png" alt="PRUTTIKA logo" class="img-fluid me-3" style="width: 150px;">
                                  <div class="ticket-info">
                                    <h5>Event Name</h5>
                                    <h4>Halowin</h4>
                                  </div>
                                </div>
                                <div class="ticket-section d-flex flex-wrap mt-3">
                                  <img src="../../../public/img/ticket.png" alt="Ticket Icon" class="img-fluid me-3" style="width: 50px;">
                                  <div class="ticket-info">
                                    <h5>Price: <span class="text-brand">10$</span></h5>
                                    <p>Location: Touk Kork, Phnom Penh</p>
                                  </div>
                                </div>
                              </div>
                              <div class="ticket-details p-3">
                                <div class="d-flex flex-wrap">
                                  <div class="me-3">
                                    <h6>Start</h6>
                                    <p>Fri, 25 Oct 2024</p>
                                  </div>
                                  <div class="me-3">
                                    <h6>End</h6>
                                    <p>8:00am - 11:00am</p>
                                  </div>
                                  <div>
                                    <h6>Phone Number</h6>
                                    <p>012 345 678</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Right Section -->
                            <div class="col-12 col-md-4 text-center ">
                              <div class="ticket-section qr-code">
                                <img src="../../../public/img/scan-qr-here.png" alt="QR Code" class="img-fluid">
                                <p>012302513216565470000000</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>

          </tr>
  
        </tbody>
  
      </table>  
   

    </div>
    
</body>
<script src="../../../public/js/bootstrap.bundle.min.js"></script>
</html>