   
    <footer>
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-4 col-md-6 col-12 text-center text-md-start mb-4 mb-lg-0">
                    <a href="/">
                        <img src="/img/Prutika_Logo_text(2).png" alt class="logo" style="width: 200px;">
                    </a>
                    <div class="information pe-lg-5 mt-3">
                        <p>Your seamless platform for event management, where creativity meets efficiency. We simplify
                            planning, coordinate every detail, and bring your vision to life for unforgettable
                            experiences that inspire.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 text-center text-md-start">
                    <h4 class="py-4 text-brand fw-bold">Contact Info</h4>
                    <p>Tel: +855-12-123-456</p>
                    <p><a href="mailto:pruttikaKH@gmail.com">Email: pruttikaKH@gmail.com</a></p>
                    <div class="social-media fs-2 d-flex justify-content-center justify-content-md-start gap-3">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-telegram"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-12 text-center text-md-start mt-4 mt-lg-0">
                    <h4 class="py-4 text-brand fw-bold">Quick Links</h4>
                    <div class="d-flex justify-content-center justify-content-md-start">
                        <div class="d-flex quick-link flex-column w-50 pe-3">
                            <a href="">Contact us</a>
                            <a href="">Events</a>
                            <a href="">About us</a>
                        </div>
                        <div class="d-flex flex-column quick-link w-50">
                            <a href="">Our Policy</a>
                            <a href="">Our Team</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-top py-3 text-center">
            <span>Copyright ©2024 All rights reserved | Pruttika.com.kh</span>
        </div>
    </footer>


