<html lang="<%= lang %>" class="<%= langClass %>">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title==undefined ? "" : title %> | Pruttika
  </title>
  <!-- Cropper.js CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="shortcut icon" type="image/png" href="/img/Pruttikar_Logo1.png">
  <link rel="stylesheet" href="/vendor/lib/cropper.min.css" />
  <link href="/vendor/lib/tom-select.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/ToasifyJs/toastify.min.css">
  <link rel="stylesheet" href="/vendor/QuilJs/quill.snow.css">

    <script src="/vendor/lib/lucide.min.js"></script>
    <script src="/vendor/lib/html5-qrcode.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap-icon/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- test  -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Khmer+Moul&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet"> -->
  
</head>