<nav class="shadow sidebar position-sticky" style="top: 70px !important;" id="">
  <ul>
      <li>
          <a href="/event/manage" class="active">
              <i class="fas fa-menorah"></i>
              <span class="nav-item">Event</span>
          </a>
      </li>
      <li>
          <a href="/event/manage-request">
              <i class="fa-solid fa-ticket"></i>
              <span class="nav-item">Request Ticket</span>
          </a>
      </li>
      <li>
          <a href="/event/manage-check-in">
              <i class="fa-solid fa-qrcode"></i>
              <span class="nav-item">Check-in
                  Ticket</span>
          </a>
      </li>
  </ul>
</nav>