<header class="border is-sticky" id="header">
    <div class="container">
        <nav class="d-flex align-items-center justify-content-between">
            <div class="logo">
                <a href="homepage.html">
                    <img src="/img/Prutika_Logo_text(2).png" alt>
                </a>
            </div>
            <div class="d-flex align-items-center w-25 position-relative ">
                <i class="fa-solid fa-magnifying-glass text-brand fs-6 position-absolute"></i>
                <input type="text" class="form-control search-bar ps-5 w-100 " id="searchEvent"
                    placeholder="Search Event " />
                <button class="btn-pink text-white"><i
                        class="fa-solid fa-magnifying-glass text-brand fs-6"></i></button>
                <ul class="search-dropdown position-absolute" id="search-dropdown">

                </ul>
            </div>
            <div class="action-btn d-flex">
                <button class="btn-outline-pink ms-3" data-bs-toggle="modal" data-bs-target="#createPostModal"><i
                        class="fa-solid fa-plus text-brand"></i> Create
                    a
                    post</button>
                <a href="#" class=" btn-outline-pink ms-3" role="button" id="browseDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Browse <i class="fa-solid fa-caret-down text-brand"></i>
                    <!-- User Icon -->
                </a>
                <a href="ticket/myticket.html" class="btn-outline-pink ms-3 d-flex align-items-center"><i
                        class="fa-solid fa-ticket pe-1 text-brand"></i>My
                    Ticket</a>

                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="browseDropdown">
                    <li><a class="dropdown-item" href="browse/browse-event.html">Browse
                            events</a></li>
                    <li><a class="dropdown-item" href="browse/browse-recruitment.html">Browse
                            vendor recruitments</a></li>
                    <li><a class="dropdown-item" href="browse/browse-vendor.html">Browse
                            vendor services</a></li>

                </ul>
            </div>
            <div class="dropdown">
                <a href="#" class="dropdown-toggle fs-3 text-brand d-flex align-items-center" role="button"
                    id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- <i class="bi bi-person-circle"></i> -->
                    <div class="userImgPf-wrapper">
                        <img id="userImgPf" src="http://mps2.chandalen.dev/storage/avatars/no_photo.jpg" alt="pfp">
                    </div>
                    <!-- User Icon -->
                    <span class="ps-1" id="userEmail"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                    <li><a class="dropdown-item" href="./organizer/event.html">Manage
                            as
                            organizer</a></li>
                    <li><a class="dropdown-item" href="./vendor/vendor-business.html">Manage as
                            vendor</a></li>
                    <li><a class="dropdown-item" href="./browse/wishlist.html">Wishlist</a></li>
                    <li><a class="dropdown-item" href="./authentication/accountsetting.html">Account
                            Setting</a></li>

                    <li><a class="dropdown-item border-top" href="javascript:void(0);" id="btn-logout">Log
                            out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>