<nav class="nav nav-profile flex-column bg-brand rounded mb-3 py-4 pt-4 h-100 px-4 mb-md-0">
    <a class="nav-link active mt-2" href="/profile/info">
        <i class="bi bi-person-lines-fill me-3 fs-4 text-brand"></i> <span class="sidebar-title text-brand">Profile Information</span>
    </a>
    <a class="nav-link" href="/profile/manage-account">
        <i class="bi bi-person-fill me-3 fs-4 text-white"></i> <span  class="sidebar-title"> Account Management</span>
    </a>
    <a class="nav-link" href="/profile/organizer">
        <i class="bi bi-gear-fill me-3 fs-4 text-white"></i><span class="sidebar-title"> Organizer Setting</span>
    </a>
    <a class="nav-link" href="/profile/notification">
        <i class="bi bi-bell-fill me-3 fs-4 text-white"></i><span class="sidebar-title"> Notification Preference</span>
    </a>
    <a class="nav-link" href="/profile/privacy">
        <i class="fa-solid fa-lock me-3 fs-4 text-white"></i><span class="sidebar-title"> Privacy Policy</span>
    </a>
</nav>