<nav class="nav nav-profile flex-column rounded card border-0 p-4 rounded-3 shadow-light-sm mb-md-0">
    <a class="nav-link active mt-2" href="/profile/info">
        <i class="bi bi-person-lines-fill me-3 fs-4 "></i> <span class="">Profile Information</span>
    </a>
    <a class="nav-link" href="/profile/manage-account">
        <i class="bi bi-person-fill me-3 fs-4 "></i> <span  class=""> Account Management</span>
    </a>
    <a class="nav-link" href="/profile/organizer-view">
        <i class="bi bi-gear-fill me-3 fs-4 "></i><span class=""> Organizer Setting</span>
    </a>
    <!-- <a class="nav-link" href="/profile/notification">
        <i class="bi bi-bell-fill me-3 fs-4 "></i><span class=""> Notification Preference</span>
    </a>
    <a class="nav-link" href="/profile/privacy">
        <i class="fa-solid fa-lock me-3 fs-4 "></i><span class=""> Privacy Policy</span>
    </a> -->
</nav>