<script src="/vendor/ToasifyJs/toastify-js.js"></script>
<script src="/vendor/Axios/axios.min.js"></script>
<script src="/vendor/Joi/joi-browser.min.js"></script>
<script src="/js/config/configAxios.js"></script>
<script src="/js/utils/validation.js"></script>
<script src="/js/utils/handleError.js"></script>
<script src="/js/utils/toast.js"></script>
<script src="/js/utils/header.js"></script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Cropper.js -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>

<script
    src="https://cdn.jsdelivr.net/npm/tom-select@2.4.2/dist/js/tom-select.complete.min.js"></script>
<script src="/vendor/QuilJs/quill.js"></script>
<script src="/vendor/momentjs/moment.min.js"></script>
<script src="
https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js
"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>


<script>
        let userSocketId = null;

async function connectToSocket() {
    try {
        const response = await axiosInstance.get("/auth/me");
        // console.log(response);
        
        userSocketId = response.data.data.id;
        // console.log(userSocketId);
        if (userSocketId) {
            // Connect to the Socket.IO server
            const socket = io(); // Replace with your server URL

            // Join the room for this buyer
            socket.emit('join', userSocketId);

            // Listen for notifications
            socket.on('notification', (data) => {
                // console.log('New notification:', data);

                let status = "";
                let msg = data.eng_message; // Default message
                let title = "Notification"; // Default title
                let borderColor = "#37CC6D"; // Default border color

                switch (data.type_id) {
                    case 1: // Approved ticket
                    status = `<div
                                          class="d-flex align-items-center justify-content-center"
                                          style="width: 2.5rem;height: 2.5rem;border-radius: 50%; background-color: #DCFCE7; color: #37CC6D;">
                                          <i data-lucide="check"
                                              style="width: 1.2rem;height: 1.2rem;"></i>
                                      </div>`;
                    title = "Your Ticket Has Been Approved!";
                    borderColor = "#37CC6D"; // Green for approval
                    break;
                    case 2: // Rejected ticket
                    status = `<div class="d-flex align-items-center justify-content-center" style="width: 2.5rem;height: 2.5rem;border2.5radius: 50%; background-color: #FEE2E2; color: #EF4444;"><i data-lucide="x" style="width: 1.2rem;height: 1.2rem;"></i></div>`;
                    title = "Ticket Request Denied";
                    borderColor = "#EF4444"; // Red for rejection
                    break;
                    case 3: // Organizer request approved
                    status = `<div class="d-flex align-items-center justify-content-center" style="width: 2.5rem;height: 2.5rem;border-radius: 50%; background-color: #DCFCE7; color: #37CC6D;"><i data-lucide="check" style="width: 1.2rem;height: 1.2rem;"></i></div>`;
                    title = "Organizer Request Approved";
                    borderColor = "#37CC6D"; // Green for approval
                    break;
                    case 4: // Organizer request denied
                    status = `<div class="d-flex align-items-center justify-content-center" style="width: 2.5rem;height: 2.5rem;border-radius: 50%; background-color: #FEE2E2; color: #EF4444;"><i data-lucide="x" style="width: 1.2rem;height: 1.2rem;"></i></div>`;
                    title = "Organizer Application Denied";
                    borderColor = "#EF4444"; // Red for rejection
                    break;
                    case 5: // Event Updated
                    status = `<div class="d-flex align-items-center justify-content-center" style="width: 2.5rem;height: 2.5rem;border-radius: 50%; background-color: #DBEAFE; color: #3B82F6;"><i data-lucide="info" style="width: 1.2rem;height: 1.2rem;"></i></div>`;
                    title = "The event details have been updated";
                    borderColor = "#3B82F6"; // Blue for information
                    break;
                    case 6: // Reminder event
                    status = `<div class="d-flex align-items-center justify-content-center" style="width: 2.5rem;height: 2.5rem;border-radius: 50%; background-color: #DBEAFE; color: #3B82F6;"><i data-lucide="info" style="width: 1.2rem;height: 1.2rem;"></i></div>`;
                    title = "Reminder: Upcoming Event";
                    borderColor = "#3B82F6"; // Blue for information
                    break;
                    case 7: // Event Access
                    status = `<div class="d-flex align-items-center justify-content-center" style="width: 2.5rem;height: 2.5rem;border-radius: 50%; background-color: #DBEAFE; color: #3B82F6;"><i data-lucide="link" style="width: 1.2rem;height: 1.2rem;"></i></div>`;
                    title = "Join Link for Your Event";
                    borderColor = "#3B82F6"; // Blue for information
                    break;
                    default:
                    status = `<div
                                          class="d-flex align-items-center justify-content-center"
                                          style="width: 2.5rem;height: 2.5rem;border-radius: 50%; background-color: #DCFCE7; color: #37CC6D;">
                                          <i data-lucide="check"
                                              style="width: 1.2rem;height: 1.2rem;"></i>
                                      </div>`;
                    borderColor = "#3B82F6"; // Default to blue
                    break;
                }

                showNotification(true, msg, "/ticket/my-ticket", "top", "center", true, status, title, borderColor);
});
        } else {
            console.log("User is not authenticated. Socket.IO connection skipped.");
        }
    } catch (error) {
        userSocketId = null;
        console.log(error);
        
    }
}


    document.addEventListener("DOMContentLoaded", function () {
        lucide.createIcons();
        connectToSocket()
        // showNotification()
    const loader = document.getElementById("loader-overlay");

    // Hide the loader once the page is fully loaded
    window.addEventListener("load", function () {
        setTimeout(() => {
            if(loader){

                loader.classList.add("hidden"); // Add hidden class to fade out
            }
        }, 1000); // Matches the animation duration
    });

    // Show loader when navigating to another page
    
});

</script>
