<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <!-- Header -->
        <%- include('./partials/navbar.ejs') %>
            <!-- User List Section -->
            <section class="user-list">
               

            </section>
            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
    </body>

</html>