/* style for settings */
.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f8d7da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #dc3545;
}