@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --c-brand: #ff1694;
  --c-brand-light: #ff1692ac;
  --c-brand-dark: #e11594;
  --text-gray: #403247;
  --c-white: #fff;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.link-brand:hover{
  color: var(--c-brand-dark);
}


button {
  cursor: pointer;
}

.bg-brand-light-50 {
  background-color: #ffcbeb54 !important;
}

.bg-brand-light {
  background-color: var(--c-brand-light) !important;
}

.bg-brand {
  background-color: var(--c-brand) !important;
}

.fs-18 {
  font-size: 18px;
}

.text-brand {
  color: var(--c-brand) !important;
}

.text-brand-dark {
  color: var(--c-brand-dark) !important;
}

.text-brand-light {
  color: var(--c-brand-light) !important;
}

.btn{
  height:  49px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-weight: 600 ;
}

.btn-brand {
  background-color: var(--c-brand) !important;
  color: #fff !important;
  transition: .3s;
}

.btn-brand:hover {
  background-color: var(--c-brand-dark) !important;
}

.btn-outline-brand {
  border: 1px solid var(--c-brand);
  color: var(--c-brand);
  transition: 0.3s;
}

.btn-outline-brand:hover {
  background-color: var(--c-brand) !important;
  color: #fff !important;
}

.btn-outline-brand-white {
  border: 2px solid var(--c-white);
  color: var(--c-white);
  background-color: transparent !important;
  transition: 0.3s;
}

.btn-outline-brand-white:hover {
  color: var(--c-brand) !important;
  border: 2px solid var(--c-white) !important;
  background-color: var(--c-white) !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.border-brand {
  border: 2px solid var(--c-brand) !important;
}

.container-form {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

/* HTML: <div class="loader"></div> */
/* .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #fff;
  border-right-color: #FF1694;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}} */

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  margin: 0px;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.form-check-input:checked {
  background-color: #FF1694;
  border-color: #FF1694;
}

.form-check-input:focus {
  border-color: #FF1694;
}

.form-check-input {
  border-color: #FF1694;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: transparent;
  margin: 10px 0;
  height: 55px;
  border-radius: 8px;
  border: 1px solid #FF1694;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.is_invalid{
  border: 1px solid var(--bs-danger) !important;
}

.otp-inputs.is_invalid input{
  border: 1px solid var(--bs-danger) !important;
}

.otp-inputs.is_invalid{
  border: 0 !important;
}

.is_invalid i{
  color: var(--bs-danger) !important;
}

.is_invalid + .invalid_feedback{
  display: flex !important;
}

.invalid_feedback{
  max-width: 380px;
  width: 100%;
  display: none !important;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #FF1694;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #FF1694;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #FF1694;
  
}

.otp-inputs input {
  width: 49px;
  height: 49px;
  font-size: 18px;
  /* margin-left: 10px; */
  text-align: center;
  border: 1px solid #ff1694;
  border-radius: 8px;
  outline: none;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-form:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #FF1694 0%, #FF1694 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container-form.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container-form.sign-up-mode .left-panel .image,
.container-form.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container-form.sign-up-mode .signin-signup {
  left: 25%;
}

.container-form.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container-form.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container-form.sign-up-mode .right-panel .image,
.container-form.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container-form.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-form.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container-form {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container-form.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container-form:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container-form.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container-form.sign-up-mode .left-panel .image,
  .container-form.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container-form.sign-up-mode .right-panel .image,
  .container-form.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container-form.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container-form {
    padding: 1.5rem;
  }

  .container-form:before {
    bottom: 72%;
    left: 50%;
  }

  .container-form.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
