<!DOCTYPE html>
<html lang="en">

<%- include("../../partials/head.ejs") %>

<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container-lg py-5">
        <h3 class="fw-medium mb-3" style="color: #333;">Request Purchase <span class="text-brand">Ticket</span></h3>
        <div class="row">
            <div class="col-12 col-md-6" id="event-card">
                
            </div>
            

                <div class="col-md-6">
                    <div class="card border-brand-sm">
                        
                        <div class="card-body">
                            <h5 class="card-title" style="color: #333;">Purchase Information</h5>
                            <div class="mb-3">
                                <label for="ticketQuantity" class="form-label">Ticket Type:</label>
                                <select class="form-select shadow-none border-brand-sm py-2" id="ticketType">
                                    <option selected value='1'>1</option>
                                    
                                    <option value='3'>3</option>
                                    <option value='4'>4</option>
                                    <option value='5'>5</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="ticketQuantity" class="form-label">Number of Tickets:</label>
                                <select class="form-select shadow-none border-brand-sm py-2" id="ticketQuantity">
                                    <option selected value='1'>1</option>
                                    <option value='1'>2</option>
                                    
                                    <option value='3'>3</option>
                                    <option value='4'>4</option>
                                    <option value='5'>5</option>
                                </select>
                            </div>
                            <hr class="text-brand bg-brand opacity-100">
                            <p>Subtotal: <span id="subTotal" class="float-end">$10.00</span></p>
                            <p>Dicount Fee: <span class="float-end">$0.00</span></p>
                            <h5 class="text-brand">Total: <span id="total" class="float-end fw-medium">$10.00</span></h5>
                            <hr class="text-brand bg-brand opacity-100">
                            <div class="mb-3">
                            <label class="form-label">Payment QR Code</label>
                            <button class="btn btn-outline-brand w-100 fw-medium" onclick="toggleQRCode()"><i class="bi bi-qr-code"></i>&nbsp;Show QR Code</button>
                            <img src="" width="200" alt="QR Code" id="qrCodeImage" class="img-fluid mt-3 d-none">
                        </div>
                        
                        <div class="mb-3">
                            <label for="paymentProof" class="form-label">Upload Payment Proof</label>
                            
                            <div class=" d-flex align-items-center border border-brand-sm p- rounded">
                                <input type="file" class="d-none" id="paymentProof" accept=".jpeg, .jpg, .pdf" onchange="previewFile()">
                                <button class="btn text-nowrap text-brand d-flex align-items-center fw-normal fs-6 rounded-0 py-1"  style="border-right: 1px solid var(--c-brand);" onclick="document.getElementById('paymentProof').click();">
                                    <i class="bi bi-upload me-2"></i> Choose File
                                </button>
                                <label for="paymentProof" id="fileName" class="ms-2 text-muted h-100 w-75 d-block">No file selected</label>
                            </div>
                            
                            <small class="text-muted">Please upload your payment transaction in .jpeg, .jpg, or PDF</small>
                        </div>
                            <button class="btn btn-brand w-100" id="submitButton">Submit Purchase</button>
                        </div>
                    </div>
                </div>

                
            
        </div>
    </div>
    <%- include("../../partials/script.ejs") %>
    <script src="/js/ticket/buy-ticket.js"></script>
</body>


</html>