<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <%- include("../../partials/head.ejs") %>
</head>
<body>
    <%- include("../../partials/navbar.ejs")  %>
   <div class="container py-5">
    <h3><i class="bi bi-caret-left-fill text-brand me-2"></i>Settings</h3>

    <div
        class="row  g-5">

        <div class="col-12 col-md-4 ">
            <%- include('../../partials/profile-sidebar.ejs') %>
        </div>
        <div class="col-12 col-md-8">
            <h3 class="text-center mb-4">Account Management</h3>
          <form action="#">
            <!-- Email -->
            <div class>
                <label for
                    class="form-label fw-medium mb-2">Email</label>
                <div class="input-field input-field-setting"
                    id="input-field-email">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email"
                        id="email" class
                        autofocus />
                </div>
                <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2"
                    id="invalid_feedback_email">
                    <i
                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2">Invalid email.</div>
                </div>
            </div>
            <div class>
                <label for
                    class="form-label fw-medium mb-2">Phone</label>
                <div class="input-field input-field-setting"
                    id="input-field-phone">
                    <i class="fas fa-phone"></i>
                    <input type="text" placeholder="Phone"
                        id="phone" class=""
                        autofocus />
                </div>
                <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                    id="invalid_feedback_phone">
                    <i
                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2 ">Invalid email.</div>
                </div>
            </div>

            <!-- langauge -->
             <div class="">

                <label for
                class="form-label fw-medium mb-2">Language</label>
                 <div class="input-field input-field-setting mb-4 "> 
                     <i class="fa-solid fa-globe"></i>
                     <select class="frm-seclect" id="language">
                         <option selected>English</option>
                         <option value="1">Khmer</option>
                     </select>
                 </div>
             </div>
            <button type="submit" class="btn btn-brand w-100 mb-4">Save Change</button>
            <div>
              <h5>Change Your Password</h5>
              <p>Click the button below to proceed with updating your password</p>
              <a href="/profile/change-password" class="btn btn-brand w-100 mb-4">Change Password</a>
              <h5>Delete Your Account</h5>
              <p>Deleting your account will remove all information from our database. This action cannot be undone.</p>
              <a href="/profile/delete-account" class="btn btn-danger w-100">Delete Account</a>
            </div>

          </form>
          
        </div>
    </div>
    

   </div>

  

    <script src="/js/bootstrap.bundle.min.js"></script> 
</body>
</html>
