<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
     <!-- Stylesheets -->
     <%- include("../../partials/head.ejs")  %>
</head>
<body>
    <div class="container py-5">
        <a href="#"><h3><i class="bi bi-caret-left-fill text-brand me-2"></i>Settings</h3>
        </a>
        <div class="row">
        <div class="col-12 col-md-4 bg-brand rounded mb-3 py-4 mb-md-0">
            <nav class="nav flex-column">
                <a class="nav-link" href="profileInfo.html">
                    <i class="bi bi-person-lines-fill me-3 fs-4 text-white"></i> <span class="sidebar-title">Profile Information</span>
                </a>
                <a class="nav-link active" href="accountmanagement.html">
                    <i class="bi bi-person-fill me-3 fs-4 text-brand"></i> <span  class="sidebar-title text-brand"> Account Management</span>
                </a>
                <a class="nav-link" href="organizer.html">
                    <i class="bi bi-gear-fill me-3 fs-4 text-white"></i><span class="sidebar-title "> Organizer Setting</span>
                </a>
                <a class="nav-link" href="#">
                    <i class="bi bi-bell-fill me-3 fs-4 text-white"></i><span class="sidebar-title"> Notification Preference</span>
                </a>
                <a class="nav-link" href="termOfservice.html">
                    <i class="fa-solid fa-user-shield fs-4 me-2 text-white"></i><span class="sidebar-title"> Term Of Service</span>
                </a>
                <a class="nav-link" href="policy.html">
                    <i class="fa-solid fa-lock me-3 fs-4 text-white"></i><span class="sidebar-title"> Privacy Policy</span>
                </a>
            </nav>
        </div>
        <div class="col-12 col-md-8">
            <a href="#"> <h4><i class="bi bi-caret-left-fill text-brand me-2"></i>Back To Account Management</h4></a>
            <form id="frm" class="ms-4 mt-3">
                <h5>Change Your Password</h5>
                <p>To ensure the security of your account, we recommend updating your password regularly.</p>

                <div class="mb-3">
                    <label for="" class="form-label  fw-medium mb-2">Current Password</label>
                <div class="input-field input-field-setting" id="input-field-current-password">
                    <i class="fas fa-lock "></i>
                    <input type="password" placeholder="Current Password"
                      id="current-password" />
                      <!-- <i class="fa-solid fa-eye"></i> -->
                  </div>
                  <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2"
                    id="invalid_feedback_current_password">
                    <i
                      class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2">Password must be at least 6 characters.</div>
                  </div>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label fw-medium mb-2">New Password</label>
                <div class="input-field input-field-setting" id="input-field-new-password">
                    <i class="fas fa-lock "></i>
                    <input type="password" placeholder="New Password"
                      id="new-password" />
                      <!-- <i class="fa-solid fa-eye"></i> -->
                  </div>
                  <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2"
                    id="invalid_feedback_new_password">
                    <i
                      class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2">Password must be at least 6 characters.</div>
                  </div>
                </div>
                <div class="mb-4">
                    <label for="" class="form-label  fw-medium mb-2">Confirm Password</label>
                <div class="input-field input-field-setting" id="input-field-confirm-new-password">
                    <i class="fas fa-lock "></i>
                    <input type="password" placeholder="Confirm Password"
                      id="confirm-new-password" />
                      <!-- <i class="fa-solid fa-eye"></i> -->
                  </div>
                  <div
                    class="invalid_feedback text-danger d-flex align-items-center mb-2"
                    id="invalid_feedback_confirm_new_password">
                    <i
                      class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                    <div class="ms-2">Password must be the same as your new password.</div>
                  </div>
                </div>
                <button type="submit" id="btnChangePassword" class="btn btn-brand w-100">Change Password</button>


            </form>


        </div>
    </div>
 
    </div>

    <%- include("../../partials/script.ejs")  %>

    <script src="/js/profile/change-password.js"></script>
    
</body>
</html>