<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>
    <body>
        <div class="container py-5">
            <h3>
                <i class="bi bi-caret-left-fill text-brand me-2"></i>Settings
            </h3>
            <div class="row g-5">
                <!-- Sidebar Navigation -->
                <div class="col-12 col-md-4">
                    <%- include('../../partials/profile-sidebar.ejs') %>
                </div>

                <!-- Main Content -->
                <div class="col-12 col-md-8">
                    <h3 class="mb-4">Organizer Setting</h3>
                    <div class="d-flex align-items-center mb-4">
                        <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                        <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                        <p class="p-0 m-0"><span class="fw-medium">Tip:</span>
                            Give some information to upgrade account to
                            organizer.</p>
                    </div>
                    <div>
                        <button class="btn btn-brand w-100" onclick="toggle">Upgrade to Organizer</button>
                      </div>
          
                    <form action="#" class="d-none">
                        <!-- Organization Name -->
                        <div class="mb-3">
                            <label for="organizationName"
                                class="form-label fw-medium mb-2">Organization
                                Name</label>
                            <div class="input-field input-field-setting ">
                                <i class="fas fa-user"></i>
                                <input type="text" id="organizationName"
                                    placeholder="Enter your organization name" />
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2">Bio</label>

                            <div class="description mb-3">
                                <div id="editor" class="bg-white"
                                    style="min-height: 100px;"></div>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2">Phone
                                Number</label>
                            <div class="input-field input-field-setting mb-4">
                                <i class="fas fa-phone"></i>
                                <input type="tel" id="contact"
                                    placeholder="Enter your phone number" />
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2">Email</label>
                            <div class="input-field input-field-setting mb-4">
                                <i class="fas fa-envelope"></i>
                                <input type="email" id="email"
                                    placeholder="Enter your email" />
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for
                                class="form-label fw-medium mb-2">Location</label>
                            <div class="input-field input-field-setting mb-4">
                                <i class="fa-solid fa-location-dot"></i>
                                <input type="email" id="email"
                                    placeholder="Enter your location" />
                            </div>
                        </div>
                        <!-- Social Media Link -->
                        <div class="">
                            <label for
                                class="form-label fw-medium mb-2">Social Media Links</label>
                            <div class="mb-3">
                                <div class="input-field input-field-setting mb-4">
                                    <i class="fa-brands fa-square-facebook"></i>
                                    <input type="email" id="email"
                                        placeholder="Facebook" value="facebook.com" disabled />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-field input-field-setting mb-4">
                                    <i class="fa-brands fa-telegram"></i>
                                    <input type="email" id="email"
                                        placeholder="Telegram" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-field input-field-setting mb-4">
                                    <i class="fa-brands fa-tiktok"></i>
                                    <input type="email" id="email"
                                        placeholder="Tiktok" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="input-field input-field-setting mb-4">
                                    <i class="fa-brands fa-linkedin"></i>
                                    <input type="email" id="email"
                                        placeholder="Linkedin" />
                                </div>
                            </div>
    
                        </div>
                        <!-- Submit Button -->
                        <button type="submit"
                            class="btn btn-brand w-100">Submit</button>
                    </form>

                </div>
            </div>
        </div>

        <%- include("../../partials/script.ejs") %>
        <script>
                document.addEventListener("DOMContentLoaded", function () {
            window.descQuill = new Quill('#editor', { theme: 'snow' , placeholder: "Enter your bio here..."});
        });
    </script>
    </body>
</html>
