<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>

    <body>
        <%- include("../../partials/navbar.ejs") %>
         <div id="event-hero-banner-img" style="height: auto; background: url('https://www.oyorooms.com/blog/wp-content/uploads/2018/02/event.jpg')  center center;" 
            class="event-hero-banner d-flex align-items-center justify-content-center py-5">
            <div class="hero-overlay"></div>
            <div class="hero-content">
                <h5></h5>
                <!-- <span
                    class="badge rounded-pill text-white bg-brand fs-6 fw-medium mb-3"
                    id="snippet-date">Fri, 23 Feb 2025</span> -->
                <h1 class="fs-2" id="title">Browse Event</h1>
                <!-- <p id="short-desc">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Nulla quas perferendis.</p> -->

            </div>
        </div> 
        <div class=" min-vh-100 py-4 mt-4">
            <div class="container-xxl">
                <div class="row align-items-center mb-4">
                    <div class="col-xxl-8">
                        <h1 class="h2">Discover Events</h1>
                        <p class="text-muted">Find and join amazing events near
                            you</p>
                    </div>
                    <div class="col-xxl-4 d-flex gap-2">
                        <button class="btn btn-outline-brand d-xxl-none"
                            onclick="showSidebar()">Filter</button>
                        <div class="input-group flex-nowrap">
                            <span
                                class="input-group-text bg-white border-end-0 "
                                id="addon-wrapping">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            <input type="search" id="searchInput"
                                class="form-control border-start-0 shadow-none fw-medium"
                                placeholder="Search Event..." name="search">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-xxl-3 d-none d-xxl-block">
                        <div id="sidebar" class="pe-3 ps-"
                            style=" overflow-y: auto;
    max-height: 82vh;position: sticky;top: 82px;">
                            <div class="mb-4">
                                <div
                                    class="d-flex align-items-center justify-content-between mb-3">
                                    <h3 class="h5 mb-0">Sort</h3>
                                    <a role="button" id="btnResetFilter"
                                        class="text-brand h6 mb-0">Clear All</a>

                                </div>
                                <select id="sort-filter"
                                    class="form-select w-100 border rounded-3 fw-normal"
                                    style="background-color: #f3f4f6;">
                                    <option value>Any</option>
                                    <option value="eng_name">Event Title</option>
                                    <option value="created_at">Latest Post</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <h3 class="h5">Status</h3>
                                <select id="status-filter"
                                    class="form-select w-100 border rounded-3 fw-normal"
                                    style="background-color: #f3f4f6;">
                                    <option value="">Any</option>
                                    <option value="3">Upcoming</option>
                                    <option value="2">Showing</option>
                                    <option value="1">Past</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <h3 class="h5">Date</h3>
                                <select id="date-filter"
                                    class="form-select w-100 border rounded-3 fw-normal"
                                    style="background-color: #f3f4f6;">
                                    <option value>Any Day</option>
                                    <option value="week">This Week</option>
                                    <option value="month">This Month</option>
                                </select>
                            </div>

                            <div class="mb-4">
                                <h3 class="h5">Price</h3>
                                <select id="price-filter"
                                    class="form-select w-100 border rounded-3 fw-normal"
                                    style="background-color: #f3f4f6;">
                                    <option value>Any Price</option>
                                    <option value="free">Free</option>
                                    <option value="0-50">$0 - $50</option>
                                    <option value="50-100">$50 - $100</option>
                                    <option value="100-200">$100 - $200</option>
                                    <option value="200+">$200+</option>
                                </select>
                            </div>

                            <!-- <div class="mb-4">
                                <h3 class="h5">Location</h3>
                                <select id="location-filter" class="form-select w-100 border rounded-3 fw-normal" style="background-color: #f3f4f6;">
                                    <option value="">All</option>
                                    <option value="online">Online</option>
                                    <option value="in-person">In Person</option>
                                </select>
                            </div> -->
                            <div class="mb-4" id>
                                <h3 class="h5">Categories</h3>
                                <div id="category-container">
                                    <button
                                        class="btn btn-light w-100 px-4 border-0 rounded-3 mb-2 fw-normal justify-content-between"
                                        style="background-color: #f3f4f6;justify-content: space-between !important;">
                                        <div>Music </div>
                                        <div>(10)</div>
                                        <button
                                            class="btn btn-light w-100 px-4 border-0 rounded-3 mb-2 fw-normal justify-content-between"
                                            style="background-color: #f3f4f6;justify-content: space-between !important;">
                                            <div>Music </div>
                                            <div>(10)</div>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Event Grid -->
                        <div class="col-xxl-9">
                            <div class="row g-1" id="event-list">
                                <div class="col-12">
                                    <div class="mb-3">
                                        <div colspan="5">
                                            <div
                                                class="card border-0 h-100"
                                                aria-hidden="true">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div
                                                            class="bg-secondary-subtle border rounded-1"
                                                            style="width: 100%; height: 100%;">

                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div
                                                            class="card-body py-2">
                                                            <h5
                                                                class="card-title ">
                                                                <span
                                                                    class="placeholder col-11 "
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </h5>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>
                                                                <span
                                                                    class="placeholder col-12"
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </p>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div colspan="5">
                                            <div
                                                class="card border-0 h-100"
                                                aria-hidden="true">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div
                                                            class="bg-secondary-subtle border rounded-1"
                                                            style="width: 100%; height: 100%;">

                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div
                                                            class="card-body py-2">
                                                            <h5
                                                                class="card-title ">
                                                                <span
                                                                    class="placeholder col-11 "
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </h5>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>
                                                                <span
                                                                    class="placeholder col-12"
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </p>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <td colspan="5">
                                            <div
                                                class="card border-0 h-100"
                                                aria-hidden="true">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div
                                                            class="bg-secondary-subtle border rounded-1"
                                                            style="width: 100%; height: 100%;">

                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div
                                                            class="card-body py-2">
                                                            <h5
                                                                class="card-title ">
                                                                <span
                                                                    class="placeholder col-11 "
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </h5>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>
                                                                <span
                                                                    class="placeholder col-12"
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </p>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                    </div>
                                    <div class="mb-3">
                                        <td colspan="5">
                                            <div
                                                class="card border-0 h-100"
                                                aria-hidden="true">
                                                <div class="row g-0">
                                                    <div class="col-4">
                                                        <div
                                                            class="bg-secondary-subtle border rounded-1"
                                                            style="width: 100%; height: 100%;">

                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <div
                                                            class="card-body py-2">
                                                            <h5
                                                                class="card-title ">
                                                                <span
                                                                    class="placeholder col-11 "
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </h5>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>
                                                                <span
                                                                    class="placeholder col-12"
                                                                    style="background-color: #D4D4D4;"></span>
                                                            </p>
                                                            <p
                                                                class="card-text ">
                                                                <span
                                                                    class="placeholder col-10"
                                                                    style="background-color: #D4D4D4;"></span>

                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>

                                    </div>
                                </div>
                                <!-- Pagination -->
                                
                            </div>
                            <div class="pagination-container">
                                <button class="pagination-button btn-icon"
                                    onclick="changePage(currentPage - 1)"
                                    id="prevBtn" disabled><i
                                        class="fa-solid fa-angle-left"></i></button>

                                <div id="pagination-numbers"></div>

                                <button class="pagination-button btn-icon"
                                    onclick="changePage(currentPage + 1)"
                                    id="nextBtn"><i
                                        class="fa-solid fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile Sidebar -->
                <div class="sidebar-overlay" id="sidebar-overlay"
                    onclick="hideSidebar()"></div>
                <div class="mobile-sidebar" id="mobile-sidebar">
                    <div class="d-flex align-items-center mb-4 border-bottom">
                        <h4 class="mb-0">Filter</h4>
                        <button class="btn btn-link text-dark ms-auto"
                            onclick="hideSidebar()"><i
                                data-lucide="x"></i></button>
                    </div>
                    <div class="mb-4">
                        <div
                            class="d-flex align-items-center justify-content-between mb-3">
                            <h3 class="h5 mb-0">Sort</h3>
                            <a role="button" id="btnResetFilterMobile"
                                class="text-brand h6 mb-0">Clear All</a>

                        </div>
                        <select id="sort-filter-mobile"
                            class="form-select w-100 border rounded-3 fw-normal"
                            style="background-color: #f3f4f6;">
                            <option value>Any</option>
                            <option value="eng_name">Event Title</option>
                            <option value="created_at">Latest Post</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <h3 class="h5">Status</h3>
                        <select id="status-filter-mobile"
                            class="form-select w-100 border rounded-3 fw-normal"
                            style="background-color: #f3f4f6;">
                            <option value="">Any Status</option>
                            <option value="3">Upcoming</option>
                            <option value="2">Showing</option>
                            <option value="1">Past</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <h3 class="h5">Date</h3>
                        <select id="date-filter-mobile"
                            class="form-select w-100 border rounded-3 fw-normal"
                            style="background-color: #f3f4f6;">
                            <option value>Any Day</option>
                            <option value="week">This Week</option>
                            <option value="month">This Month</option>
                        </select>
                    </div>

                    <div class="mb-4">
                        <h3 class="h5">Price</h3>
                        <select id="price-filter-mobile"
                            class="form-select w-100 border rounded-3 fw-normal"
                            style="background-color: #f3f4f6;">
                            <option value>Any Price</option>
                            <option value="free">Free</option>
                            <option value="0-50">$0 - $50</option>
                            <option value="50-100">$50 - $100</option>
                            <option value="100-200">$100 - $200</option>
                            <option value="200+">$200+</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <h3 class="h5">Categories</h3>
                        <div id="categories-mobile-container">

                        </div>
                    </div>
                </div>

                <%- include("../../partials/script.ejs") %>
                <script src="/js/events/browse-event.js"></script>

            </body>
        </html>
