<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>

    <body class="bg-white-stain">
        <%- include("../../partials/manage-event-header.ejs") %>

        <main>
            <div class>
                <div class="d-flex">
                    <%- include("../../partials/manage-event-sidebar.ejs") %>

                    <section class="p-4 w-100">
                

                        <div id="content" class="px-md-3">
                            <div class="d-flex align-items-center">
                            <button onclick="history.back()" type="button" class="btn fw-medium border-0 ps-0 d-flex align-items-center mb-2">
                                <i class="fa-solid fa-angle-left fs-6 m-0 p-0 "></i>
                                <span class="m-0 ps-2"><a>Back to
                                        Event</a></span>
                            </button>
                        </div>
                        <div class="card mb-4 p-4 border-0 shadow-light-sm">
                            <h1 class="h3 mb-2">Check In Ticket List</h1>
                            <h2
                                class="h5 text-muted mb-2" id="title">{eventData.eng_name}</h2>
                            
                            <div class="d-flex align-items-center">
                                <small class="me-2 text-brand"><i data-lucide="calendar-days" width="1rem"></i></small>
                                <span id="ev-date">Thu, 5 December, 2024</span>
                            </div>
                        </div>


                                <!-- <div class="col-auto">
                                    <button data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        type="button"
                                        class="btn btn-brand fw-medium"
                                        style="height: auto !important;">+
                                        Check-In By Token</button>
                                </div> -->
                            </div>
                            <!-- <h5 class="mt-5 mb-3">Ticket Request</h5> -->
                            <div class="row g-4 px-md-3">
                                <div class="text-center col-12 col-lg-4">
                                    <div class="scanner-container card border-0" style="border: 0 !important;">
                                        <div class>
                                            <div id="reader"
                                                class="d-flex flex-column align-items-center justify-content-center px-4 py-3">

                                            </div>
                                            <div id="result"
                                                class="mt-3 text-success"></div>
                                            <!-- <button class="btn btn-scan">Scan Again</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="card p-4 border-0 shadow-light-sm rounded-3">
                                        <div
                                            class="d-flex justify-content-between">
                                            <div class="d-flex gap-3">

                                                <!-- <div class>
                                        <label for="statusFilter"
                                            class="form-label">Filter by
                                            Status:</label>
                                        <select id="statusFilter"
                                            class="form-select mb-3">
                                            <option value>All</option>
                                            <option
                                                value="Approved">Approved</option>
                                            <option
                                                value="Pending">Pending</option>
                                            <option
                                                value="Rejected">Rejected</option>
                                        </select>
                                    </div>
                                    <div class>
                                        <label for="dateFilter"
                                            class="form-label">Filter by
                                            Date:</label>
                                        <input type="date" id="dateFilter"
                                            class="form-control mb-3">
                                    </div> -->
                                                <h4>Checked-In</h4>
                                            </div>
                                            <div
                                                class=" w-50 d-flex justify-content-end">
                                                <input type="text"
                                                    id="searchInput"
                                                    class="form-control mb-3 w-75"
                                                    placeholder="Search by name...">
                                            </div>

                                        </div>
                                        <div class="table-container table-responsive">
                                            <table class="custom-table w-100"
                                                id="ticketTable">
                                                <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th
                                                            >Avatar</th>
                                                        <th
                                                            >Name</th>
                                                        <th
                                                            >Type</th>
                                                        <th
                                                            >Email</th>
                                                        <th >Check-in
                                                            Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="request-tbody">
                                                    <tr>
                                                        <td colspan="1">1</td>
                                                        <td colspan="1">John
                                                            Doe</td>
                                                        <td colspan="1">2
                                                            tickets</td>
                                                        <td
                                                            colspan="1">$400.00</td>
                                                        <td colspan="1">Thu, Nov
                                                            28,
                                                            2024
                                                            9:16 AM</td>
                                                        <td colspan="1"><span
                                                                class="badge bg-warning">Pending</span></td>
                                                        <td
                                                            style="width: 340px;">
                                                            <div>
                                                                <button
                                                                    type="button"
                                                                    data-transaction-id="12345"
                                                                    class="btn btn-brand views-transaction"
                                                                    style="height: auto !important;"><i
                                                                        class="fa-solid fa-eye"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1">1</td>
                                                        <td colspan="1">John
                                                            Doe</td>
                                                        <td colspan="1">2
                                                            tickets</td>
                                                        <td
                                                            colspan="1">$400.00</td>
                                                        <td colspan="1">Thu, Nov
                                                            28,
                                                            2024
                                                            9:16 AM</td>
                                                        <td colspan="1"><span
                                                                class="badge bg-warning">Pending</span></td>
                                                        <td
                                                            style="width: 340px;">
                                                            <div>
                                                                <button
                                                                    type="button"
                                                                    data-transaction-id="12345"
                                                                    class="btn btn-brand views-transaction"
                                                                    style="height: auto !important;"><i
                                                                        class="fa-solid fa-eye"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1">1</td>
                                                        <td colspan="1">Chea
                                                            Doe</td>
                                                        <td colspan="1">2
                                                            tickets</td>
                                                        <td
                                                            colspan="1">$400.00</td>
                                                        <td colspan="1">Thu, Nov
                                                            28,
                                                            2024
                                                            9:16 AM</td>
                                                        <td colspan="1"><span
                                                                class="badge bg-warning">Pending</span></td>
                                                        <td
                                                            style="width: 340px;">
                                                            <div>
                                                                <button
                                                                    type="button"
                                                                    data-transaction-id="12345"
                                                                    class="btn btn-brand views-transaction"
                                                                    style="height: auto !important;"><i
                                                                        class="fa-solid fa-eye"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="1">1</td>
                                                        <td colspan="1">Thu
                                                            Doe</td>
                                                        <td colspan="1">2
                                                            tickets</td>
                                                        <td
                                                            colspan="1">$400.00</td>
                                                        <td colspan="1">Thu, Nov
                                                            29,
                                                            2024
                                                            9:16 AM</td>
                                                        <td colspan="1"><span
                                                                class="badge bg-warning">Pending</span></td>
                                                        <td
                                                            style="width: 340px;">
                                                            <div>
                                                                <button
                                                                    type="button"
                                                                    data-transaction-id="12345"
                                                                    class="btn btn-brand views-transaction"
                                                                    style="height: auto !important;"><i
                                                                        class="fa-solid fa-eye"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Pagination -->
                            <!-- <div class="pagination-container">
                        <button class="pagination-button btn-icon"
                            onclick="changePage(currentPage - 1)"
                            id="prevBtn" disabled><i
                                class="fa-solid fa-angle-left"></i></button>

                        <div id="pagination-numbers"></div>

                        <button class="pagination-button btn-icon"
                            onclick="changePage(currentPage + 1)"
                            id="nextBtn"><i
                                class="fa-solid fa-angle-right"></i></button>
                    </div> -->
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <div class="modal fade" id="exampleModal" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="exampleModalLabel">Check-in Ticket</h1>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class>
                            <div class="input-field input-field-setting"
                                id="input-field-qrcode">
                                <i class="fas fa-lock"></i>
                                <input type="text"
                                    placeholder="Enter ticket token"
                                    id="qrcode" autofocus />
                            </div>
                            <div
                                class="invalid_feedback text-danger d-flex align-items-center"
                                id="invalid_feedback_qrcode">
                                <i
                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                <div class="ms-2">Ticket token is
                                    required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-0 pt-0">

                        <button type="button"
                            class="btn btn-brand w-100"
                            id="btn-checked-in">Check In</button>
                    </div>

                </div>
            </div>


            <%- include("../../partials/script.ejs") %>

            <script src="/public/js/utils/organizer-sidebar.js"></script>

            <script src="/js/events/check-in-ticket-list.js">

</script>

        </body>
    </html>