<!DOCTYPE html>
<html lang="en">


    <%- include("../../partials/head.ejs")  %>
   

<body class="dashboard">
    <nav id="sidebar">
        <ul>
          <li><span class="logo">Pruttika</span>
            <button onclick="toggleSidebar()" id="toggle-btn">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z" />
              </svg>
            </button>
          </li>
          <li class="active"><a href="index.html">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M240-200h120v-200q0-17 11.5-28.5T400-440h160q17 0 28.5 11.5T600-400v200h120v-360L480-740 240-560v360Zm-80 0v-360q0-19 8.5-36t23.5-28l240-180q21-16 48-16t48 16l240 180q15 11 23.5 28t8.5 36v360q0 33-23.5 56.5T720-120H560q-17 0-28.5-11.5T520-160v-200h-80v200q0 17-11.5 28.5T400-120H240q-33 0-56.5-23.5T160-200Zm320-270Z" />
              </svg>
              <span>Home</span></a></li>
          <li><a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M520-640v-160q0-17 11.5-28.5T560-840h240q17 0 28.5 11.5T840-800v160q0 17-11.5 28.5T800-600H560q-17 0-28.5-11.5T520-640ZM120-480v-320q0-17 11.5-28.5T160-840h240q17 0 28.5 11.5T440-800v320q0 17-11.5 28.5T400-440H160q-17 0-28.5-11.5T120-480Zm400 320v-320q0-17 11.5-28.5T560-520h240q17 0 28.5 11.5T840-480v320q0 17-11.5 28.5T800-120H560q-17 0-28.5-11.5T520-160Zm-400 0v-160q0-17 11.5-28.5T160-360h240q17 0 28.5 11.5T440-320v160q0 17-11.5 28.5T400-120H160q-17 0-28.5-11.5T120-160Zm80-360h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z" />
              </svg>
              <span>Dashboard</span></a></li>
          <li>
            <button onclick="toggleSubMenu(this)" class="dropdown-btn">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h207q16 0 30.5 6t25.5 17l57 57h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Zm400-160v40q0 17 11.5 28.5T600-320q17 0 28.5-11.5T640-360v-40h40q17 0 28.5-11.5T720-440q0-17-11.5-28.5T680-480h-40v-40q0-17-11.5-28.5T600-560q-17 0-28.5 11.5T560-520v40h-40q-17 0-28.5 11.5T480-440q0 17 11.5 28.5T520-400h40Z" />
              </svg>
              <span>Create</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z" />
              </svg>
            </button>
            <ul class="sub-menu">
              <div>
                <li><a href="#">Folder</a></li>
                <li><a href="#">Document</a></li>
                <li><a href="#">Project</a></li>
              </div>
            </ul>
          </li>
          <li>
            <button onclick="toggleSubMenu(this)" class="dropdown-btn">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="m221-313 142-142q12-12 28-11.5t28 12.5q11 12 11 28t-11 28L250-228q-12 12-28 12t-28-12l-86-86q-11-11-11-28t11-28q11-11 28-11t28 11l57 57Zm0-320 142-142q12-12 28-11.5t28 12.5q11 12 11 28t-11 28L250-548q-12 12-28 12t-28-12l-86-86q-11-11-11-28t11-28q11-11 28-11t28 11l57 57Zm339 353q-17 0-28.5-11.5T520-320q0-17 11.5-28.5T560-360h280q17 0 28.5 11.5T880-320q0 17-11.5 28.5T840-280H560Zm0-320q-17 0-28.5-11.5T520-640q0-17 11.5-28.5T560-680h280q17 0 28.5 11.5T880-640q0 17-11.5 28.5T840-600H560Z" />
              </svg>
              <span>Todo-Lists</span>
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z" />
              </svg>
            </button>
            <ul class="sub-menu">
              <div>
                <li><a href="#">Work</a></li>
                <li><a href="#">Private</a></li>
                <li><a href="#">Coding</a></li>
                <li><a href="#">Gardening</a></li>
                <li><a href="#">School</a></li>
              </div>
            </ul>
          </li>
          <li><a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-40q0-17 11.5-28.5T280-880q17 0 28.5 11.5T320-840v40h320v-40q0-17 11.5-28.5T680-880q17 0 28.5 11.5T720-840v40h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z" />
              </svg>
              <span>Calendar</span></a></li>
          <li> <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-240v-32q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v32q0 33-23.5 56.5T720-160H240q-33 0-56.5-23.5T160-240Zm80 0h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
              </svg>
              <span>Profile</span></a></li>
        </ul>
      </nav>
      <main>
        <div class="container-fluid">
            <div class="row m-sm-2 m-lg-4">
                
                <!-- FORMS -->
                <div class="col-12 me-0">
                    <h3 class="mb-3">Create Event</h3>
                    <div class="progress" style="background-color: #ff169232;border-radius: 2px !important;">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-brand" role="progressbar" style="width: 0%"></div>
                    </div>
                    <p class="text-center my-2 pb-0">Step 1 of 6</p>
                    <div id="qbox-container" class="w-100 mt-4">
                        <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
                            <div id="steps-container">
                                <!-- <div class="step w-100">
                                    <h4>Create Event</h4>
                                    <h6>Add an image as a thumbnail</h6>
                                    <div class="form-check ps-0 q-box">
                                        
                                        <div class="q-box__question">
                                            <input checked class="form-check-input question__input" id="q_1_no" name="q_1" type="radio" value="No"> 
                                            <label class="form-check-label question__label" for="q_1_no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Are you experiencing a high fever, dry cough, tiredness and loss of taste or smell?</h4>
                                    <div class="form-check ps-0 q-box">
                                        <div class="q-box__question">
                                            <input class="form-check-input question__input" id="q_2_yes" name="q_2" type="radio" value="Yes"> 
                                            <label class="form-check-label question__label" for="q_2_yes">Yes</label>
                                        </div>
                                        <div class="q-box__question">
                                            <input checked class="form-check-input question__input" id="q_2_no" name="q_2" type="radio" value="No"> 
                                            <label class="form-check-label question__label" for="q_2_no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Are you having diarrhoea, stomach pain, conjunctivitis, vomiting and headache?</h4>
                                    <div class="form-check ps-0 q-box">
                                        <div class="q-box__question">
                                            <input class="form-check-input question__input" id="q_3_yes" name="q_3" type="radio" value="Yes"> 
                                            <label class="form-check-label question__label" for="q_3_yes">Yes</label>
                                        </div>
                                        <div class="q-box__question">
                                            <input checked class="form-check-input question__input" id="q_3_no" name="q_3" type="radio" value="No"> 
                                            <label class="form-check-label question__label" for="q_3_no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Have you traveled to any of these countries with the highest number of COVID-19 cases in the world for the past 2 weeks?</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input q-checkbox" id="q_4_uk" name="q_4" type="checkbox" value="uk"> 
                                                    <label class="form-check-label question__label" for="q_4_uk">UK</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_us" name="q_4" type="checkbox" value="us"> 
                                                    <label class="form-check-label question__label" for="q_4_us">US</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_br" name="q_3" type="checkbox" value="br"> 
                                                    <label class="form-check-label question__label" for="q_4_br">Brazil</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_de" name="q_4" type="checkbox" value="de"> 
                                                    <label class="form-check-label question__label" for="q_4_de">Germany</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                                    <label class="form-check-label question__label" for="q_4_in">India</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                                    <label class="form-check-label question__label" for="q_4_eu">Europe</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_none" name="q_4" type="checkbox" value="none"> 
                                                    <label class="form-check-label question__label" for="q_4_none">I did not travelled to any of these countries</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Are you experiencing any of these serious symptoms of COVID-19 below?</h4>
                                    <div class="row">
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_breathing" name="q_5_breathing" type="checkbox" value="breathing"> 
                                                <label class="form-check-label question__label" for="q_5_breathing">Difficulty breathing or shortness of breath</label>
                                            </div>
                                        </div>
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                                                <label class="form-check-label question__label" for="q_5_chest">Chest pain or pressure</label>
                                            </div>
                                        </div>
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                                                <label class="form-check-label question__label" for="q_5_speech">Loss of speech or movement</label>
                                            </div>
                                        </div>
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                                                <label class="form-check-label question__label" for="q_5_pale">Pale, gray or blue-colored skin, lips or nail beds</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Event Thumbnail -->
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        <h5>Upload an image as your thumbnail</h5>
                                        <div class="form-display active upload-cover ">
                                            
                                            <img class="icon-img" src="../../assets/img/icon/plus.png" alt="">
                                        </div>
                                        <div class="main-form active upload-img-form">
                                            <div class="d-flex align-items-center mb-3">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Use photo that attracts
                                                    viewers.</p>
                                            </div>
                                            <div class="upload-section d-flex align-items-center justify-content-center p-5 flex-column"
                                                id="thumbnail-upload-section">
                                                <i id="imgIcon" class="fa-regular fa-image fs-1 text-secondary pb-3"></i>
                                                <label id="imgInputBtn" for="fileUpload" class="btn-outline-pink d-flex align-items-center"><i
                                                        class="fa-regular fa-image fs-5 text-secondary me-1"></i> Upload
                                                    Image</label>
                                                <input class="d-none" id="fileUpload" accept=".jpg, .jpeg" type="file"></input>
                                                <div class="d-flex">
                                                    <p id="fileName" class="text-secondary pt-3">No file chosen</p>
                                                    <button id="btnRemoveImgFile" type="button"
                                                        class="ms-1 text-secondary bg-transparent border-0 fs-5 ">
                                                        <i class="fa-solid fa-circle-xmark"></i></button>
                                                </div>
                                                <img id="imageDisplay" src="" class="" style="max-width: 400px; width: 100%;" alt="img preview">
        
                                            </div>
                                            <div class="img-format pt-3 w-100">
                                                <ul type="circle" class="d-flex flex-column flex-sm-row justify-content-evenly ">
                                                    <li>Recommended image size: 2160 x 1080px</li>
                                                    <li>Maximum file size: 10MB</li>
                                                    <li>Supported image files: .JPEG, .PNG</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Event Overview -->
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        
                                        <div class="main-form active">
                                            <h5 class="">Event Overview</h5>
                                            <div class="d-flex align-items-center mb-3">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give an attractive brief paragraph about your event.</p>
                                            </div>
                                            <!-- <p>Give an attractive brief paragraph about your event.</p> -->
                                            <div class>
                                                <label for
                                                    class="form-label fw-medium mb-2">Event Title</label>
                                                <div class="input-field input-field-setting border-2"
                                                    id="input-field-phone">
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                    <input type="text" placeholder="Event Title"
                                                        id="phone" class=""
                                                        autofocus />
                                                </div>
                                                <div
                                                    class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                    id="invalid_feedback_phone">
                                                    <i
                                                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                    <div class="ms-2 ">Invalid email.</div>
                                                </div>
                                            </div>
                                            <div class="mb-4 mt-2 w-100">
                                                <div class="">
                                                    <label for
                                                    class="form-label fw-medium mb-2 d-block">Event Type</label>
                                                    <div id="input-container">
                                                        <input class="form-check-input" name="event_type" type="radio" value="2" checked> 
                                                        <label class="form-check-label radio-lb">In Person</label> 
                                                        <input class="form-check-input" name="event_type" type="radio" value="1"> 
                                                        <label class="form-check-label radio-lb">Online</label> 
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="w-100">
                                                <div class="">
                                                    <label for
                                                    class="form-label fw-medium mb-2">Event Categories</label>
                                                   

                                                        <select class="tom-selected" id="select-category" name="state[]" multiple placeholder="Choose Categories" autocomplete="off">
                                                            <!-- <option value="">Select a state...</option> -->
                                                            <option value="AL">Alabama</option>
                                                            <option value="AK">Alaska</option>
                                                            <option value="AZ">Arizona</option>
                                                            <option value="CA" selected>California</option>
                                                            <option value="CO">Colorado</option>
                                                            <option value="CT">Connecticut</option>
                                                            <option value="KY">Kentucky</option>
                                                            <option value="LA">Louisiana</option>
                                                            <option value="WY" selected>Wyoming</option>
                                                        </select>
                                                    
                                                    <div id="lblCategorySelect"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        
                                        <div class="main-form active">
                                            <h4 class="mb-3">Event Date and Location</h4>
                                            <div class="row gx-4 gy-1">
                                                <div class="col-md-12 col-lg-12 col-xxl-8">
                                                    <div class="row gx-4 gy-1">
                                                        <div class="col-md-6 col-lg-7 col-xxl-8">
                                                            <label for
                                                                class="form-label fw-medium mb-2">Start Date</label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-phone">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="date" placeholder="Event Title"
                                                                    id="phone" class=""
                                                                    autofocus />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_phone">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-5 col-xxl-4">
                                                            <label for
                                                                class="form-label fw-medium mb-2">Start Time</label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-phone">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="time" placeholder="Event Title"
                                                                    id="phone" class=""
                                                                    autofocus />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_phone">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-7 col-xxl-8">
                                                            <label for
                                                                class="form-label fw-medium mb-2">End Date</label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-phone">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="date" placeholder="Event Title"
                                                                    id="phone" class=""
                                                                    autofocus />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_phone">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-5 col-xxl-4">
                                                            <label for
                                                                class="form-label fw-medium mb-2">End Time</label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-phone">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="time"
                                                                    id="phone" class=""
                                                                    autofocus />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_phone">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                            </div>
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <label for
                                                        class="form-label fw-medium mb-2">Location</label>
                                                    <div class="input-field input-field-setting border-2"
                                                        id="input-field-phone">
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                        <input type="text" placeholder="Street 2002, PP"
                                                            id="phone" class=""
                                                            autofocus />
                                                    </div>
                                                    <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_phone">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        
                                        <div class="main-form active">
                                            <h4 class="mb-0">Event Description</h4>
                                            <div class="d-flex align-items-center mb-4">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give a short attractive and full detail description about your event.</p>
                                            </div>
                                            <div class="col-md-12">
                                                <label for
                                                    class="form-label fw-medium mb-2">Short Description</label>
                                                <div class="input-field input-field-setting border-2"
                                                    id="input-field-phone">
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                    <input type="text" placeholder="Street 2002, PP"
                                                        id="phone" class=""
                                                        autofocus />
                                                </div>
                                                <div
                                                    class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                    id="invalid_feedback_phone">
                                                    <i
                                                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                    <div class="ms-2 ">Invalid email.</div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <label for
                                                    class="form-label fw-medium mb-2 mt-2">Description Detail</label>
                                            
                                            <div class="description mb-3">
                                                <div id="editor" class="bg-white" style="min-height: 150px;"></div>
                                            </div>
                                            </div>
                                            
                                            <div class="upload-img-form d-none">
                                                <h4 class="fw-bold pb-3">Add your image</h4>
                                                <div
                                                    class="upload-section d-flex align-items-center justify-content-center p-5 flex-column">
                                                    <i id="photoIcon" class="fa-regular fa-image fs-1 text-secondary pb-3"></i>
                                                    <label id="photoInputBtn" for="photoUpload" class="btn-outline-pink"><i
                                                            class="fa-regular fa-image fs-5 text-secondary"></i> Upload
                                                        Image</label>
                                                    <input class="d-none" id="photoUpload" type="file"></input>
                                                    <div class="d-flex">
                                                        <p id="photoName" class="text-secondary pt-3">No file chosen</p>
                                                        <button id="btnRemoveImg" type="button"
                                                            class="ms-1 text-secondary fw-bold">X</button>
                                                    </div>
                                                    <img id="photoDisplay" src="" alt="img preview">
        
                                                </div>
                                                <div class="img-format pt-3 w-100">
                                                    <ul type="circle" class="d-flex justify-content-evenly">
                                                        <li>Recommended image size: 2160 x 1080px</li>
                                                        <li>Maximum file size: 10MB</li>
                                                        <li>Supported image files: .JPEG, .PNG</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        <div class="main-form active">
                                            <h4 class="mb-0">Event Agenda</h4>
                                            <div class="d-flex align-items-center mb-4">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give agendas about your event.</p>
                                            </div>
                                            <div class="description my-3 ">
                                                <!-- <div id="agendaEditor"></div> -->
                                                <div id="agenda-wrapper">
                                                    
                                                </div>
                                                <button type="button" class="btn btn-outline-brand fw-medium d-flex align-items-center" onclick="createNewAgenda()"><i
                                                        class="fa-solid fa-plus"></i>&nbsp; Add a new agenda</button>
                                            </div>
                                        </div>
                                    </div>
                                            
                                </div>
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3">
                                        <div class="main-form active">
                                            <h4 class="mb-0">Ticket Categories</h4>
                                            <div class="d-flex align-items-center mb-4">
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Set up tickets information and define ticket categories for your event.</p>
                                            </div>
                                
                                            <!-- Default Ticket Category -->
                                            <div id="default-ticket">
                                                <h5 class="fw-semibold text-brand mb-3">General Admission</h5>
                                                <div class="row gx-4 gy-0">
                                                    <div class="col-4">
                                                        <label class="form-label fw-medium mb-2">Price</label>
                                                        <div class="input-field input-field-setting border-2">
                                                            <i class="fa-solid fa-dollar-sign"></i>
                                                            <input type="number" id="defaultTicketPrice" placeholder="Enter price">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <label class="form-label fw-medium mb-2">Capacity</label>
                                                        <div class="input-field input-field-setting border-2">
                                                            <i class="fa-solid fa-ticket"></i>
                                                            <input type="number" id="defaultTicketCapacity" placeholder="Enter capacity">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <!-- Button to Toggle Between Default and Custom Ticket Categories -->
                                            <button id="toggle-ticket-btn" class="btn btn-outline-brand fw-medium mt-3">
                                                <i class="fa-solid fa-plus"></i>&nbsp; Create Your Own Ticket Categories
                                            </button>
                                
                                            <!-- Custom Ticket Categories Section -->
                                            <div id="custom-ticket-section" style="display: none;">
                                                <div id="ticket-wrapper"></div>
                                
                                                <!-- Button to Add More Custom Ticket Categories -->
                                                <button type="button" class="btn btn-outline-brand fw-medium" onclick="createNewTicketCategory()">
                                                    <i class="fa-solid fa-plus"></i> &nbsp; Add a New Ticket Category
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3">
                                        <div class="main-form active">
                                            <h4 class="mb-0">Payment Method</h4>
                                            <div class="d-flex align-items-center mb-4">
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give a KHQR image for your payment method.</p>
                                            </div>
                                
                                            <div id="payment-container">
                                                <div class="upload-img-form mb-5">
                                                    
        
                                                    <div class="upload-section d-flex align-items-center justify-content-center p-5 flex-column"
                                                        id="khqr-upload-section">
                                                        <i id="khqrPhotoIcon"
                                                            class="fa-regular fa-image fs-1 text-secondary pb-3"></i>
                                                        <label id="khqrPhotoInputBtn" for="khqrPhotoUpload"
                                                            class="btn-outline-pink"><i
                                                                class="fa-regular fa-image fs-5 text-secondary"></i> Upload
                                                            Image</label>
                                                        <input class="d-none" id="khqrPhotoUpload" type="file"
                                                            accept=".jpg, .jepg"></input>
                                                        <div class="d-flex">
                                                            <p id="KhqrPhotoName" class="text-secondary pt-3">No file chosen</p>
                                                            <button id="btnRemoveKhqrImg" type="button"
                                                                class="ms-1 text-secondary fw-bold bg-transparent">X</button>
                                                        </div>
                                                        <img id="KhqrPhotoDisplay" src="" alt="img preview">
        
                                                    </div>
                                                    <div class="img-format pt-3 w-100">
                                                        <ul type="circle" class="d-flex justify-content-evenly">
                                                            <li>Recommended image size: 2160 x 1080px</li>
                                                            <li>Maximum file size: 10MB</li>
                                                            <li>Supported image files: .JPEG, .PNG</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <!-- Custom Ticket Categories Section -->
                                            <div id="custom-ticket-section" style="display: none;">
                                                <div id="ticket-wrapper"></div>
                                
                                                <!-- Button to Add More Custom Ticket Categories -->
                                                <button type="button" class="btn btn-outline-brand fw-medium" onclick="createNewTicketCategory()">
                                                    <i class="fa-solid fa-plus"></i> &nbsp; Add a New Ticket Category
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="step">
                                    <div class="mt-1">
                                        <div class="closing-text">
                                            <h4>That's about it! Stay healthy!</h4>
                                            <p>We will assess your information and will let you know soon if you need to get tested for COVID-19.</p>
                                            <p>Click on the submit button to continue.</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="success">
                                    <div class="mt-5">
                                        <h4>Success! We'll get back to you ASAP!</h4>
                                        <p>Meanwhile, clean your hands often, use soap and water, or an alcohol-based hand rub, maintain a safe distance from anyone who is coughing or sneezing and always wear a mask when physical distancing is not possible.</p>
                                        <a class="back-link" href="bootstrap5form.html">Go back from the beginning &#10140;</a>
                                    </div>
                                </div>
                            </div>
                            <div id="q-box__buttons">
                                <button id="prev-btn" type="button">Previous</button> 
                                <button id="next-btn" type="button">Next</button> 
                                <button id="submit-btn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- TITLE -->
                <!-- <div class="col-lg-4 offset-lg-1 mx-0 px-0 d-none d-lg-block">
                    <div id="title-container">
                        <img class="covid-image" src="/img/login.png">
                        <h2>Pruttika</h2>
                        <h3>Meet up with your friend.</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, vitae iste enim eos neque odio voluptates nemo incidunt accusamus nobis impedit quaerat natus! Asperiores blanditiis molestias sapiente quia, sint consequuntur!</p>
                    </div>
                </div> -->
            </div>
        </div><!-- PRELOADER -->

      </main>
      
      
      <!--For icons: https://fonts.google.com/icons-->

      <!--For icons: https://fonts.google.com/icons-->
    
    <div id="preloader-wrapper">
        <div id="preloader"></div>
        <div class="preloader-section section-left"></div>
        <div class="preloader-section section-right"></div>
    </div>
    <%- include("../../partials/script.ejs") %>
    <script src="/js/events/create-event.js">
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.descQuill = new Quill('#editor', { theme: 'snow' });
        });
        let ticketCount = 0;
const ticketWrapper = document.getElementById("ticket-wrapper");
const toggleTicketBtn = document.getElementById("toggle-ticket-btn");
const customTicketSection = document.getElementById("custom-ticket-section");
const defaultTicket = document.getElementById("default-ticket");

// Function to toggle between default and custom ticket sections
toggleTicketBtn.addEventListener("click", function () {
    if (customTicketSection.style.display === "none" || customTicketSection.style.display === "") {
        // Switch to Custom Ticket Category Mode
        defaultTicket.style.display = "none";
        customTicketSection.style.display = "block";
        toggleTicketBtn.innerHTML = `<i class="fa-solid fa-arrow-left"></i>&nbsp; Back to Default Ticket Category`;

        // Add the first custom ticket category automatically
        if (ticketCount === 0) createNewTicketCategory();
    } else {
        // Switch Back to Default Ticket Category Mode
        customTicketSection.style.display = "none";
        defaultTicket.style.display = "block";
        toggleTicketBtn.innerHTML = `<i class="fa-solid fa-plus"></i>&nbsp; Create Your Own Ticket Categories`;

        // Remove all custom ticket categories
        ticketWrapper.innerHTML = "";
        ticketCount = 0;
    }
});

// Function to create a new ticket category
function createNewTicketCategory() {
    ticketCount++;
    let ticketContainer = document.createElement("div");
    ticketContainer.className = "ticket-container mb-4";
    ticketContainer.id = `ticket${ticketCount}`;

    ticketContainer.innerHTML = `
        <div class="d-flex align-items-center justify-content-between mb-3 mt-4">
            <h5 class="fw-semibold text-brand mb-0">Ticket Category ${ticketCount}</h5>
            <button class="btn btn-danger" onclick="deleteTicketCategory('ticket${ticketCount}')">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>
        <div class="">
            <label class="form-label fw-medium mb-2">Name</label>
            <div class="input-field input-field-setting mb-3">
                <i class="fa-regular fa-pen-to-square"></i>
                <input type="text" id="ticketCategoryName${ticketCount}" placeholder="e.g. VIP, Normal">
            </div>
        </div>
        <div class="">
            <label class="form-label fw-medium mb-2">Price</label>
            <div class="input-field input-field-setting mb-3">
                <i class="fa-solid fa-dollar-sign"></i>
                <input type="number" id="ticketPrice${ticketCount}" placeholder="Enter price ($)">
            </div> 
        </div>
        <div class="">
            <label class="form-label fw-medium mb-2">Capacity</label>
            <div class="input-field input-field-setting mb-3">
                <i class="fa-solid fa-ticket"></i>
                <input type="number" id="ticketCapacity${ticketCount}" placeholder="Enter ticket capacity">
            </div>
        </div>
    `;

    ticketWrapper.appendChild(ticketContainer);
}

// Function to delete a ticket category
function deleteTicketCategory(ticketId) {
    let ticketToRemove = document.getElementById(ticketId);
    if (ticketToRemove) {
        ticketToRemove.remove();
        ticketCount--;

        // If all custom tickets are removed, revert to Default Ticket Category mode
        if (ticketCount === 0) {
            toggleTicketBtn.innerHTML = `<i class="fa-solid fa-plus"></i> Create Your Own Ticket Categories`;
            customTicketSection.style.display = "none";
            defaultTicket.style.display = "block";
        }
    }
}


    </script>
    <script>
        let agendaCount = 0;
const agendaWrapper = document.getElementById("agenda-wrapper");
// createNewAgenda();
function createNewAgenda() {
    agendaCount++;
    let agendaContainer = document.createElement("div");
    agendaContainer.className = "agenda-container mb-4";
    agendaContainer.id = `agenda${agendaCount}`;
    
    agendaContainer.innerHTML = `
                                                        <div class="d-flex align-items-center justify-content-between mb-3 mt-4">
        <h5 class="fw-semibold text-brand mb-0">Agenda ${agendaCount}</h5>
        <button class="btn btn-danger" style="height:auto !important;" onclick="deleteAgenda('agenda${agendaCount}')"><i class="fa-solid fa-trash"></i></button>
      </div>
                                                    <div class="">
                                                        <label for
                                                        class="form-label fw-medium mb-2">Title</label>
                                                <div class="input-field input-field-setting agenda mb-3">

                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                    <input type="text" class=""
                                                        id="agendaTitle${agendaCount}" placeholder="Title">
                                                    
                                                </div>
                                                <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_phone">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                    </div>
                                                   <div class="">
                                                    <label for
                                                    class="form-label fw-medium mb-2">Description</label>
                                            <div class="input-field input-field-setting agenda mb-3">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                                <input type="text" class=""
                                                    id="agendaDesc${agendaCount}" placeholder="Description"></input>
                                                
                                            </div>
                                            <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_phone">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                   </div>
                                                    
                                                    <div class="row gx-4 gy-0">
                                                        <div class="col-6 col-lg-4 col-xxl-3">
                                                            <label for
                                                                class="form-label fw-medium mb-2">Start Time</label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-phone">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="time"
                                                                    id="agendaStarttime${agendaCount}" class=""
                                                                    autofocus />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_phone">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-lg-4 col-xl-3">
                                                            <label for
                                                                class="form-label fw-medium mb-2">End Time</label>
                                                            <div class="input-field input-field-setting border-2"
                                                                id="input-field-phone">
                                                                <i class="fa-regular fa-pen-to-square fw-light"></i>
                                                                <input type="time"
                                                                    id="agendaEndtime${agendaCount}" class=""
                                                                    autofocus />
                                                            </div>
                                                            <div
                                                                class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                                id="invalid_feedback_phone">
                                                                <i
                                                                    class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                                <div class="ms-2 ">Invalid email.</div>
                                                            </div>
                                                        </div>
                                                    </div>
        
    `;
    
    agendaWrapper.appendChild(agendaContainer);
}

function deleteAgenda(agendaId) {
    let agendaToRemove = document.getElementById(agendaId);
    if (agendaToRemove) {
        agendaToRemove.remove();
        agendaCount--;
    }
}

function getAgendaData() {
    let agendas = [];
    document.querySelectorAll(".agenda-container").forEach(agenda => {
        let id = agenda.id.replace("agenda", "");
        let title = document.getElementById(`agendaTitle${id}`).value;
        let desc = document.getElementById(`agendaDesc${id}`).value;
        let startTime = document.getElementById(`agendaStarttime${id}`).value;
        let endTime = document.getElementById(`agendaEndtime${id}`).value;
        
        agendas.push({ id, title, desc, startTime, endTime });
    });
    return agendas;
}

function saveAgendaToAPI() {
    let agendas = getAgendaData();
    fetch("/api/agenda", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ agendas })
    })
    .then(response => response.json())
    .then(data => console.log("Agenda saved successfully:", data))
    .catch(error => console.error("Error saving agenda:", error));
}

function updateAgenda(id, updatedData) {
    fetch(`/api/agenda/${id}`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(updatedData)
    })
    .then(response => response.json())
    .then(data => console.log("Agenda updated successfully:", data))
    .catch(error => console.error("Error updating agenda:", error));
}

function deleteAgendaFromAPI(id) {
    fetch(`/api/agenda/${id}`, {
        method: "DELETE"
    })
    .then(response => response.json())
    .then(data => console.log("Agenda deleted successfully:", data))
    .catch(error => console.error("Error deleting agenda:", error));
}

function fetchAgendasFromAPI() {
    fetch("/api/agenda")
    .then(response => response.json())
    .then(data => console.log("Fetched Agendas:", data))
    .catch(error => console.error("Error fetching agenda:", error));
}

    </script>
    <script>
        new TomSelect("#select-category",{
	maxItems: 3
});
//         new TomSelect("#select-type",{
// 	maxItems: 1
// });
        const toggleButton = document.getElementById("toggle-btn");
const sidebar = document.getElementById("sidebar");

function toggleSidebar() {
  sidebar.classList.toggle("close");
  toggleButton.classList.toggle("rotate");

  closeAllSubMenus();
}

function toggleSubMenu(button) {
  if (!button.nextElementSibling.classList.contains("show")) {
    closeAllSubMenus();
  }

  button.nextElementSibling.classList.toggle("show");
  button.classList.toggle("rotate");

  if (sidebar.classList.contains("close")) {
    sidebar.classList.toggle("close");
    toggleButton.classList.toggle("rotate");
  }
}

function closeAllSubMenus() {
  Array.from(sidebar.getElementsByClassName("show")).forEach((ul) => {
    ul.classList.remove("show");
    ul.previousElementSibling.classList.remove("rotate");
  });
}

// Upload File in create event
let fileInput = document.getElementById('fileUpload');
let fileNameDisplay = document.getElementById('fileName');
let btnRemoveImgFile = document.getElementById('btnRemoveImgFile');
let imageDisplay = document.getElementById('imageDisplay');

// Update the file name display when a file is selected
fileInput.addEventListener('change', function () {
    if (fileInput.files.length > 0) {
        fileNameDisplay.textContent = fileInput.files[0].name;

        let reader = new FileReader();
        reader.onload = function (event) {
            imageDisplay.src = event.target.result; // Set the image source
            imageDisplay.style.display = 'block';   // Display the image
        }
        reader.readAsDataURL(fileInput.files[0]); // Read the file as a data URL

    }
    document.getElementById('imgInputBtn').style.display = 'none';
    document.getElementById('imgIcon').style.display = 'none';
    btnRemoveImgFile.style.display = 'block';
});

btnRemoveImgFile.addEventListener('click', function () {
    fileInput.value = '';
    imageDisplay.src ='';
    imageDisplay.style.display = 'none';
    fileNameDisplay.textContent = 'No file chosen';
    btnRemoveImgFile.style.display = 'none';
    document.getElementById('imgInputBtn').style.display = 'block';
    document.getElementById('imgIcon').style.display = 'block';
});

btnRemoveImgFile.click();

// style input ts 
document.querySelectorAll(".ts-wrapper").forEach(input=>{
    input.classList.add("input-field", "input-field-setting", "d-flex" , "align-items-center");
})
document.querySelectorAll(".ts-wrapper .ts-control").forEach(input=>{
    input.classList.add("border-0")
})

document.querySelector(".ts-wrapper .ts-control").classList.add("border-0");

// console.log(document.getElementById("select-category").selectedOptions);

const parent = document.querySelectorAll(".ts-wrapper.input-field"); // Get the parent element
    console.log(parent)
    // if (!parent) return; // Ensure the parent exists
 parent.forEach(p=>{
     const newNode = document.createElement("i"); // Create a new element
     newNode.classList.add("fa-solid", "fa-list")
     newNode.style.marginBottom = "2px";
 
     // Insert the new node as the first child
     p.insertBefore(newNode, p.firstChild);
 })

    
    

// --------------------------------------------------------

// Upload photo in create event in description section 
let photoInput = document.getElementById('photoUpload');
let photoNameDisplay = document.getElementById('photoName');
let btnRemoveImg = document.getElementById('btnRemoveImg');
let photoDisplay = document.getElementById('photoDisplay');

// Update the file name display when a file is selected
photoInput.addEventListener('change', function () {
    if (photoInput.files.length > 0) {
        photoNameDisplay.textContent = photoInput.files[0].name;

        let reader = new FileReader();
        reader.onload = function (event) {
            photoDisplay.src = event.target.result; // Set the image source
            photoDisplay.style.display = 'block';   // Display the image
        }
        reader.readAsDataURL(photoInput.files[0]); // Read the file as a data URL

    }
    document.getElementById('photoInputBtn').style.display = 'none';
    document.getElementById('photoIcon').style.display = 'none';
    btnRemoveImg.style.display = 'block';
});

function removeImageFile() {
    photoInput.value = ''; // Clear the file input
    photoNameDisplay.textContent = 'No file chosen';
}
btnRemoveImg.addEventListener('click', function () {
    photoInput.value = '';
    photoDisplay.src = "";
    photoDisplay.style.display = 'none';
    photoNameDisplay.textContent = 'No file chosen';
    btnRemoveImg.style.display = 'none';
    document.getElementById('photoInputBtn').style.display = 'block';
    document.getElementById('photoIcon').style.display = 'block';
});
// --------------------------------------------------------

// Upload photo in create event in description section 
let khqrPhotoUpload = document.getElementById('khqrPhotoUpload');
let KhqrPhotoName = document.getElementById('KhqrPhotoName');
let btnRemoveKhqrImg = document.getElementById('btnRemoveKhqrImg');
let KhqrPhotoDisplay = document.getElementById('KhqrPhotoDisplay');


btnRemoveKhqrImg.style.display = 'none';
KhqrPhotoDisplay.style.display = 'none';
// Upload photo in create event in Ticket section (Khqr)
khqrPhotoUpload.addEventListener('change', function () {
    if (khqrPhotoUpload.files.length > 0) {
        KhqrPhotoName.textContent = khqrPhotoUpload.files[0].name;

        let reader = new FileReader();
        reader.onload = function (event) {
            KhqrPhotoDisplay.src = event.target.result; // Set the image source
            KhqrPhotoDisplay.style.display = 'block';   // Display the image
        }
        reader.readAsDataURL(khqrPhotoUpload.files[0]); // Read the file as a data UR-L

    }
    document.getElementById('khqrPhotoInputBtn').style.display = 'none';
    document.getElementById('khqrPhotoIcon').style.display = 'none';
    btnRemoveKhqrImg.style.display = 'block';
});

function removeImageFile() {
    khqrPhotoUpload.value = ''; // Clear the file input
    KhqrPhotoName.textContent = 'No file chosen';
}
btnRemoveKhqrImg.addEventListener('click', function () {
    khqrPhotoUpload.value = '';
    KhqrPhotoDisplay.src = "";
    KhqrPhotoDisplay.style.display = 'none';
    KhqrPhotoName.textContent = 'No file chosen';
    btnRemoveKhqrImg.style.display = 'none';
    document.getElementById('khqrPhotoInputBtn').style.display = 'block';
    document.getElementById('khqrPhotoIcon').style.display = 'block';
});




// Example usage:


    </script>
</body>
</html>
