<!DOCTYPE html>
<html lang="en">


    <%- include("../../partials/head.ejs")  %>
   

<body class="dashboard">
    <%- include('../../partials/manage-event-sidebar.ejs')  %>
      <main>
        <div class="container-fluid">
            <div class="row m-sm-2 m-lg-4 mb-5 pb-5">
                
                <!-- FORMS -->
                <div class="col-12 me-0">
                    <h3 class="mb-3">Update Event</h3>
                    <div class="progress" style="background-color: #ff169232;border-radius: 2px !important;">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-brand" role="progressbar" style="width: 0%"></div>
                    </div>
                    <p class="text-center my-2 pb-0" id="stepNumber">Step 1 of 6</p>
                    <div id="qbox-container" class="w-100 mt-4">
                        <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
                            <div id="steps-container">
                                <!-- <div class="step w-100">
                                    <h4>Create Event</h4>
                                    <h6>Add an image as a thumbnail</h6>
                                    <div class="form-check ps-0 q-box">
                                        
                                        <div class="q-box__question">
                                            <input checked class="form-check-input question__input" id="q_1_no" name="q_1" type="radio" value="No"> 
                                            <label class="form-check-label question__label" for="q_1_no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Are you experiencing a high fever, dry cough, tiredness and loss of taste or smell?</h4>
                                    <div class="form-check ps-0 q-box">
                                        <div class="q-box__question">
                                            <input class="form-check-input question__input" id="q_2_yes" name="q_2" type="radio" value="Yes"> 
                                            <label class="form-check-label question__label" for="q_2_yes">Yes</label>
                                        </div>
                                        <div class="q-box__question">
                                            <input checked class="form-check-input question__input" id="q_2_no" name="q_2" type="radio" value="No"> 
                                            <label class="form-check-label question__label" for="q_2_no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Are you having diarrhoea, stomach pain, conjunctivitis, vomiting and headache?</h4>
                                    <div class="form-check ps-0 q-box">
                                        <div class="q-box__question">
                                            <input class="form-check-input question__input" id="q_3_yes" name="q_3" type="radio" value="Yes"> 
                                            <label class="form-check-label question__label" for="q_3_yes">Yes</label>
                                        </div>
                                        <div class="q-box__question">
                                            <input checked class="form-check-input question__input" id="q_3_no" name="q_3" type="radio" value="No"> 
                                            <label class="form-check-label question__label" for="q_3_no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Have you traveled to any of these countries with the highest number of COVID-19 cases in the world for the past 2 weeks?</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input q-checkbox" id="q_4_uk" name="q_4" type="checkbox" value="uk"> 
                                                    <label class="form-check-label question__label" for="q_4_uk">UK</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_us" name="q_4" type="checkbox" value="us"> 
                                                    <label class="form-check-label question__label" for="q_4_us">US</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_br" name="q_3" type="checkbox" value="br"> 
                                                    <label class="form-check-label question__label" for="q_4_br">Brazil</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_de" name="q_4" type="checkbox" value="de"> 
                                                    <label class="form-check-label question__label" for="q_4_de">Germany</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_in" name="q_4" type="checkbox" value="in"> 
                                                    <label class="form-check-label question__label" for="q_4_in">India</label>
                                                </div>
                                            </div>
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="checkbox" value="eu"> 
                                                    <label class="form-check-label question__label" for="q_4_eu">Europe</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-check ps-0 q-box">
                                                <div class="q-box__question">
                                                    <input class="form-check-input question__input" id="q_4_none" name="q_4" type="checkbox" value="none"> 
                                                    <label class="form-check-label question__label" for="q_4_none">I did not travelled to any of these countries</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <h4>Are you experiencing any of these serious symptoms of COVID-19 below?</h4>
                                    <div class="row">
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_breathing" name="q_5_breathing" type="checkbox" value="breathing"> 
                                                <label class="form-check-label question__label" for="q_5_breathing">Difficulty breathing or shortness of breath</label>
                                            </div>
                                        </div>
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="chest pain"> 
                                                <label class="form-check-label question__label" for="q_5_chest">Chest pain or pressure</label>
                                            </div>
                                        </div>
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="speech problem"> 
                                                <label class="form-check-label question__label" for="q_5_speech">Loss of speech or movement</label>
                                            </div>
                                        </div>
                                        <div class="form-check ps-0 q-box">
                                            <div class="q-box__question">
                                                <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="pale"> 
                                                <label class="form-check-label question__label" for="q_5_pale">Pale, gray or blue-colored skin, lips or nail beds</label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                
                                <!-- Event Thumbnail -->
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        <h5>Upload an image as your thumbnail</h5>
                                        <div class="form-display active upload-cover">
                                            <img class="icon-img" src="../../assets/img/icon/plus.png" alt="">
                                        </div>
                                        <div class="main-form active upload-img-form">
                                            <div class="d-flex align-items-center mb-3">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Use photo that attracts
                                                    viewers.</p>
                                            </div>
                                            <div class="upload-section d-flex align-items-center rounded-3 justify-content-center p-5 flex-column"
                                                id="thumbnail-upload-section">
                                                <i id="imgIcon" class="fa-regular fa-image fs-1 text-secondary pb-3"></i>
                                                <label id="imgInputBtn" for="fileUpload" class="btn-outline-pink d-flex align-items-center"><i
                                                        class="fa-regular fa-image fs-5 text-secondary me-1"></i> Upload
                                                    Image</label>
                                                <input class="d-none" id="fileUpload" accept=".jpg, .jpeg" type="file"></input>
                                                <div class="d-flex">
                                                    <p id="fileName" class="text-secondary pt-3">No file chosen</p>
                                                    <button id="btnRemoveImgFile" type="button"
                                                        class="ms-1 text-secondary bg-transparent border-0 fs-5 ">
                                                        <i class="fa-solid fa-circle-xmark"></i></button>
                                                </div>
                                                <img id="imageDisplay" src="" class="" style="max-width: 400px; width: 100%;" alt="img preview">
        
                                            </div>
                                            <div class="img-format pt-3 w-100">
                                                <ul type="circle" class="d-flex flex-column flex-sm-row justify-content-evenly ">
                                                    <li>Recommended image size: 2160 x 1080px</li>
                                                    <li>Maximum file size: 10MB</li>
                                                    <li>Supported image files: .JPEG, .PNG</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Event Overview -->
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        
                                        <div class="main-form active">
                                            <h5 class="">Event Overview</h5>
                                            <div class="d-flex align-items-center mb-3">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give an attractive brief paragraph about your event.</p>
                                            </div>
                                            <!-- <p>Give an attractive brief paragraph about your event.</p> -->
                                            <div class="mb-3">
                                                <label for
                                                    class="form-label fw-medium mb-2">Event Title</label>
                                                <div class="input-field input-field-setting border-2"
                                                    id="input-field-title">
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                    <input type="text" placeholder="Event Title"
                                                        id="title" class=""
                                                        autofocus />
                                                    
                                                </div>
                                                <div
                                                    class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                    id="invalid_feedback_title">
                                                    <i
                                                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                    <div class="ms-2 ">Invalid email.</div>
                                                </div>
                                            </div>
                                            <div class="mb-4 mt-2 w-100">
                                                <div class="mb-3">
                                                    <label for
                                                    class="form-label fw-medium mb-2 d-block">Event Type</label>
                                                    <div id="input-container">
                                                        <input class="form-check-input" name="event_type" type="radio" disabled id="inPerson" value="2"> 
                                                        <label class="form-check-label radio-lb">In Person</label> 
                                                        <input class="form-check-input" name="event_type" type="radio" disabled id="online" value="1"> 
                                                        <label class="form-check-label radio-lb">Online</label> 
                                                    </div>
                                                </div>
                                            </div>
        
                                            <div class="w-100">
                                                <div class="mb-3">
                                                    <label for
                                                    class="form-label fw-medium mb-2">Event Categories</label>
 <select class="tom-selected" id="select-category" name="state[]" multiple placeholder="Choose Categories" autocomplete="off">
                                                            <!-- <option value="">Select a state...</option> -->
                                                            
                                                        </select>
                                                        <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_event_categories">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="onlineMessage" class="text-brand mt-2 d-none">
                                        <i class="fa-solid fa-circle-info"></i> &nbsp;Event Link will be required when date is comming.
                                    </div>
                                </div>
                                <!--  -->
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        
                                        <div class="main-form active">
                                            <h4 class="mb-3" id="stepEventDateLocation">Event Date and Location</h4>
                                            <div class="row gx-4 gy-1">
                                                <div class="col-md-12 col-lg-12 col-xxl-8">
                                                    <div class="row gx-4 gy-1">
                                                        <div class="col-md-6 col-lg-7 col-xxl-8">
                                                            <div class="mb-3">
                                                                <label for class="form-label fw-medium mb-2">Start Date</label>
                                                                <div class="input-field input-field-setting border-2" id="input-field-started-date">
                                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                                    <input type="date" id="started-date" class=""  />
                                                                </div>
                                                                <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_started_date">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-5 col-xxl-4">
                                                            <div class="mb-3">
                                                                <label for class="form-label fw-medium mb-2">Start Time</label>
                                                            <div class="input-field input-field-setting border-2" id="input-field-start-time">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="time" id="start-time" class="" />
                                                            </div>
                                                            <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_start_time">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-7 col-xxl-8">
                                                            <div class="mb-3">
                                                                <label for class="form-label fw-medium mb-2">End Date</label>
                                                            <div class="input-field input-field-setting border-2" id="input-field-ended-date">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="date" id="ended-date" class=""  />
                                                            </div>
                                                            <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_end_date">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-5 col-xxl-4">
                                                            <div class="mb-3">
                                                                <label for class="form-label fw-medium mb-2">End Time</label>
                                                            <div class="input-field input-field-setting border-2" id="input-field-end-time">
                                                                <i class="fa-regular fa-pen-to-square"></i>
                                                                <input type="time" id="end-time" class=""  />
                                                            </div>
                                                            <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_end_time">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">

                                                <div class="col-md-12" id="block-location">
                                                    <div class="mb-3">
                                                        <label for
                                                        class="form-label fw-medium mb-2">Location</label>
                                                    <div class="input-field input-field-setting border-2"
                                                        id="input-field-location">
                                                        <i class="fa-regular fa-pen-to-square"></i>
                                                        <input type="text" placeholder="Street 2002, PP"
                                                            id="location" class=""
                                                            autofocus  />
                                                    </div>
                                                    <div
                                                        class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                        id="invalid_feedback_location">
                                                        <i
                                                            class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                        <div class="ms-2 ">Invalid email.</div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        
                                        <div class="main-form active">
                                            <h4 class="mb-0">Event Description</h4>
                                            <div class="d-flex align-items-center mb-4">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give a short attractive and full detail description about your event.</p>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-3">
                                                    <label for
                                                    class="form-label fw-medium mb-2">Short Description</label>
                                                <div class="input-field input-field-setting border-2"
                                                    id="input-field-short-description">
                                                    <i class="fa-regular fa-pen-to-square"></i>
                                                    <input type="text" placeholder="Short Description"
                                                        id="short-description" class=""
                                                        autofocus />
                                                </div>
                                                <div
                                                    class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                    id="invalid_feedback_short_description">
                                                    <i
                                                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                    <div class="ms-2 ">Invalid email.</div>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="mb-3">
                                                    <label for
                                                    class="form-label fw-medium mb-2 mt-2">Description Detail</label>
                                            
                                                <div class="description mb-3 overflow-hidden" id="input-field-description" style="border: 1px solid var(--c-brand);border-radius: 8px;">
                                                    <div id="editor" class="bg-white" style="min-height: 150px;"></div>
                                                </div>
                                                <div
                                                    class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100"
                                                    id="invalid_feedback_description">
                                                    <i
                                                        class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                    <div class="ms-2 ">Invalid email.</div>
                                                </div>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        <div class="main-form active">
                                            <h4 class="mb-0">Event Agenda</h4>
                                            <div class="d-flex align-items-center mb-4">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give agendas about your event.</p>
                                            </div>
                                            <div class="description my-3 ">
                                                <!-- <div id="agendaEditor"></div> -->
                                                <div id="agenda-wrapper">
                                                    
                                                </div>
                                                <button type="button" class="btn btn-outline-brand fw-medium d-flex align-items-center" onclick="createNewAgenda()"><i
                                                        class="fa-solid fa-plus"></i>&nbsp; Add a new agenda</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="skipAgendaMessage" class="text-brand mt-2">
                                        <i class="fa-solid fa-circle-info"></i> &nbsp;Don't have an agenda yet? You can skip this step and add it later!
                                    </div>
                                    
                                            
                                </div>
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3">
                                        <div class="main-form active">
                                            <h4 class="mb-0">Ticket Categories</h4>
                                            <div class="d-flex align-items-center mb-4">
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Set up tickets information and define ticket categories for your event.</p>
                                            </div>
                                
                                            <!-- Default Ticket Category -->
                                            <div id="default-ticket">
                                                <h5 class="fw-semibold text-brand mb-3">General Admission</h5>
                                                <div class="row gx-4 gy-0">
                                                    <div class="d-none">
                                                        <input type="hidden" id="defaultTicketCategoryId">
                                                        <label class="form-label fw-medium mb-2">Name</label>
                                                        <div class="input-field input-field-setting mb-3" id="input-field-defaultTicketCategoryName">
                                                            <i class="fa-regular fa-pen-to-square"></i>
                                                            <input type="hidden" value="General Admission" id="defaultTicketCategoryName" placeholder="e.g. VIP, Normal">
                                                        </div>
                                                        <div class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100" id="invalid_feedback_defaultTicketCategoryName">
                                                            <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                            <div class="ms-2 ">Invalid email.</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-5 mb-3">
                                                        <label class="form-label fw-medium mb-2">Price</label>
                                                        <div class="input-field input-field-setting border-2" id="input-field-defaultTicketPrice">
                                                            <i class="fa-solid fa-dollar-sign"></i>
                                                            <input type="number" id="defaultTicketPrice" placeholder="Enter price">
                                                        </div>
                                                        <div class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100" id="invalid_feedback_defaultTicketPrice">
                                                            <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                            <div class="ms-2 ">Invalid email.</div>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-xl-5">
                                                        <label class="form-label fw-medium mb-2">Capacity</label>
                                                        <div class="input-field input-field-setting border-2" id="input-field-defaultTicketCapacity">
                                                            <i class="fa-solid fa-ticket"></i>
                                                            <input type="number" id="defaultTicketCapacity" placeholder="Enter capacity">
                                                        </div>
                                                        <div class="invalid_feedback text-danger d-flex align-items-center mb-2 w-100" id="invalid_feedback_defaultTicketCapacity">
                                                            <i class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                            <div class="ms-2 ">Invalid email.</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                
                                            <!-- Button to Toggle Between Default and Custom Ticket Categories -->
                                            <button id="toggle-ticket-btn" class="btn btn-outline-brand fw-medium mt-3">
                                                <i class="fa-solid fa-plus"></i>&nbsp; Create Your Own Ticket Categories
                                            </button>
                                
                                            <!-- Custom Ticket Categories Section -->
                                            <div id="custom-ticket-section" style="display: none;">
                                                <div id="ticket-wrapper"></div>
                                
                                                <!-- Button to Add More Custom Ticket Categories -->
                                                <button type="button" class="btn btn-outline-brand fw-medium" onclick="createNewTicketCategory()">
                                                    <i class="fa-solid fa-plus"></i> &nbsp; Add a New Ticket Category
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div id="skipTicketMessage" class="text-brand mt-2 d-none">
                                        <i class="fa-solid fa-circle-info"></i> &nbsp;No ticket is needed for this online event. You can continue to the next step!
                                    </div>
                                </div>
                                <div class="step" id="step-payment">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        <h5>Payment Method</h5>
                                        <div class="form-display active upload-cover">
                                            <img class="icon-img" src="../../assets/img/icon/plus.png" alt="">
                                        </div>
                                        <div class="main-form active upload-img-form">
                                            <div class="d-flex align-items-center mb-3">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Give a KHQR image for your payment method.</p>
                                            </div>
                                            <div class="upload-section d-flex align-items-center rounded-3 justify-content-center p-5 flex-column"
                                            id="khqr-upload-section">
                                                <i id="khqrPhotoIcon" class="fa-regular fa-image fs-1 text-secondary pb-3"></i>
                                                <label id="khqrPhotoInputBtn" for="khqrPhotoUpload" class="btn-outline-pink d-flex align-items-center"><i
                                                        class="fa-regular fa-image fs-5 text-secondary me-1"></i> Upload
                                                    Image</label>
                                                <input class="d-none" id="khqrPhotoUpload" accept=".jpg, .jpeg" type="file"></input>
                                                <div class="d-flex">
                                                    <p id="KhqrPhotoName" class="text-secondary pt-3">No file chosen</p>
                                                    <button id="btnRemoveKhqrImg" type="button"
                                                        class="ms-1 text-secondary bg-transparent border-0 fs-5 ">
                                                        <i class="fa-solid fa-circle-xmark"></i></button>
                                                </div>
                                                <img id="KhqrPhotoDisplay" src="" class="" style="max-width: 400px; width: 100%;" alt="img preview">
        
                                            </div>
                                            <div class="img-format pt-3 w-100">
                                                <ul type="circle" class="d-flex flex-column flex-sm-row justify-content-evenly ">
                                                    <li>Recommended image size: 2160 x 1080px</li>
                                                    <li>Maximum file size: 10MB</li>
                                                    <li>Supported image files: .JPEG, .PNG</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="skipKhqrMessage" class="text-brand mt-2 d-none">
                                        <i class="fa-solid fa-circle-info"></i> &nbsp;No QR payment needed for free entry. You can proceed to the next step!
                                    </div>
                                </div>
                                <!-- Event Publish -->
                                <div class="step">
                                    <div class="sub-form-wrapper active p-sm-4 rounded-4 mt-3 ">
                                        
                                        <div class="main-form active">
                                            <h5 class="">Publish Events</h5>
                                            
                                            <div class="d-flex align-items-center mb-3">
                                                <!-- <img class="tip-icon" src="../../assets/img/icon/bulb.png" alt=""> -->
                                                <i class="fa-regular fa-lightbulb me-2 text-brand"></i>
                                                <p class="p-0 m-0"><span class="fw-medium">Tip:</span> Publish your event in public or private.</p>
                                            </div>
                                            <p class="fw-medium">Is your event public or private?</p>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="publishStatus" id="publicOption">
                                                <label class="form-check-label" for="publicOption">
                                                    <span class="fw-medium">Public</span><br>
                                                    <small class="text-muted">Shared on Pruttika and search engines</small>
                                                </label>
                                            </div>
                                        
                                            <div class="form-check mt-2">
                                                <input class="form-check-input" type="radio" name="publishStatus" id="privateOption" checked>
                                                <label class="form-check-label" for="privateOption">
                                                    <span class="fw-medium">Private</span><br>
                                                    <small class="text-muted">Shared with event link to select audience</small>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="step">
                                    <div class="mt-1">
                                        <div class="closing-text">
                                            <h4>You're all set!</h4>
                                            <p>You’ve successfully completed all the steps to create your event.</p>
                                            <p>Click the submit button to finalize and publish your event.</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="success">
                                    <div class="mt-5">
                                        <h4>Success! We'll get back to you ASAP!</h4>
                                        <p>Meanwhile, clean your hands often, use soap and water, or an alcohol-based hand rub, maintain a safe distance from anyone who is coughing or sneezing and always wear a mask when physical distancing is not possible.</p>
                                        <a class="back-link" href="bootstrap5form.html">Go back from the beginning &#10140;</a>
                                    </div>
                                </div>
                            </div>
                            <div id="q-box__buttons" class="d-flex align-items-center justify-content-center" style="margin-top: 40px;">
                                <button id="prev-btn" type="button" class="me-2">Previous</button> 
                                <button id="next-btn" type="button">Next</button> 
                                <button id="submit-btn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- TITLE -->
                <!-- <div class="col-lg-4 offset-lg-1 mx-0 px-0 d-none d-lg-block">
                    <div id="title-container">
                        <img class="covid-image" src="/img/login.png">
                        <h2>Pruttika</h2>
                        <h3>Meet up with your friend.</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, vitae iste enim eos neque odio voluptates nemo incidunt accusamus nobis impedit quaerat natus! Asperiores blanditiis molestias sapiente quia, sint consequuntur!</p>
                    </div>
                </div> -->
            </div>
        </div><!-- PRELOADER -->
        <div id="preloader-wrapper">
            <div id="preloader">
                <div class="showbox">
                    <div class="loader">
                      <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                      </svg>
                    </div>
                  </div>
                
            </div>
            <div class="preloader-section section-left"></div>
            <div class="preloader-section section-right"></div>
        </div>
      </main>

      
      
      <!--For icons: https://fonts.google.com/icons-->

      <!--For icons: https://fonts.google.com/icons-->
    
    <div id="preloader-wrapper">
        <div id="preloader"></div>
        <div class="preloader-section section-left"></div>
        <div class="preloader-section section-right"></div>
    </div>
    <%- include("../../partials/script.ejs") %>
    
    <script src="/js/events/update-event.js">
    </script>
    
   
    
</body>
</html>
