<!DOCTYPE html>
<html lang="en">
    <%- include("../../partials/head.ejs") %>

    <body>
        <%- include("../../partials/navbar.ejs")  %>
        <div>
            <div id="event-hero-banner-img" style="height: 190px; background: url('https://www.oyorooms.com/blog/wp-content/uploads/2018/02/event.jpg')  center center;" 
        class="event-hero-banner d-flex align-items-center justify-content-center py-5">
        <div class="hero-overlay"></div>
        <div class="hero-content">
            <h5></h5>

            <h1 class="fs-2" id="title"><%= t('event.wishlist.title') %></h1>


        </div>
        </div>
        <div class="mt-4">
            <div class="container-lg">
                

                <div class="row">
                    <!-- Sidebar -->
                    

                    <!-- Event Grid -->
                    <div class="col-12">
                        <div class="row g-4" id="event-list">
                           
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>



        <%- include("../../partials/script.ejs") %>
        <script src="/js/events/wishlist.js"></script>

    </body>
</html>
