<!DOCTYPE html>
<html lang="en">
<%- include("../../partials/head.ejs")  %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
    <div class="custom-bg text-dark">
        <div class="d-flex align-items-center justify-content-center px-2" style="min-height: calc(100vh - 70px);">
            <div class="text-center">
                <a href="/">
                    <img src="/img/Pruttikar_Logo1.png" class="mb-3" height="60px" width="60px" alt="logo">
                  </a>
                <h1 class="display-1 fw-semibold">404</h1>
                <p class="fs-2 fw-medium mt-4">Oops! Page not found</p>
                <p class="mt-4 mb-md-5">The page you're looking for doesn't exist or has been moved.</p>
                <a href="/" class="btn btn-brand fw-medium rounded-pill px-4 py-2">
                   <i class="fas fa-arrow-left"></i>&nbsp; Go Home
                </a>
            </div>
        </div>
    </div>

    <%- include("../../partials/script.ejs")  %>
</body>
</html>