<!DOCTYPE html>
<html lang="en">

<%- include("../../partials/head.ejs")  %>
<body>
    <%- include("../../partials/navbar.ejs")  %>
    <div class="Contact_us">
        <!-- Pink Background -->
        <div class="PinkBG"></div>
        <!-- Contact Form Container -->
        <div class="form-container">
            <h2 class="contactus-head text-center mb-4">Get in Touch</h2>
            <form>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <!-- English Username -->
                        <label for="sign-up-name" class="form-label fw-medium text-start">English Username</label>
                        <div class="input-field input-field-setting">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="English Username" id="sign-up-name" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <!-- Khmer Username -->
                        <label for="sign-up-khname" class="form-label fw-medium">Khmer Username</label>
                        <div class="input-field input-field-setting">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Khmer Username" id="sign-up-khname" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Phone Number -->
                        <label for="contact" class="form-label fw-medium ">Phone Number</label>
                        <div class="input-field input-field-setting mb-4">
                            <i class="fas fa-phone"></i>
                            <input type="tel" id="contact" placeholder="Enter your phone number" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Email -->
                        <label for="email" class="form-label fw-medium ">Email</label>
                        <div class="input-field input-field-setting">
                            <i class="fas fa-envelope"></i>
                            <input type="email" id="email" placeholder="Enter your email" />
                        </div>
                    </div>
                </div>
                <!-- Comment -->
                <label for="address" class="form-label mt-0 fw-medium ">Comment</label>
                <textarea class="form-control border-brand-sm mb-4" id="address" rows="3" placeholder="Enter your comment"></textarea>
                <button type="submit" class="btn btn-brand w-100 mb-3">Save Change</button>
                 <!-- Social Media Icons -->
            <div class="social-media contact-social-media fs-2 d-flex justify-content-center gap-3">
                <a href="#"><i class="fa-brands fa-facebook icon"></i></a>
                <a href="#"><i class="fa-brands fa-square-x-twitter icon"></i></a>
                <a href="#"><i class="fa-brands fa-telegram icon"></i></a>
                <a href="#"><i class="fa-brands fa-instagram icon"></i></a>
            </div>
            </form>
           
        </div>
    </div>
    <%- include("../../partials/footer.ejs")  %>
    <%- include("../../partials/script.ejs")  %>

</body>


</html>