<!DOCTYPE html>
<html lang="en">

<%- include("../../partials/head.ejs")  %>


<body class="faqs">
    <%- include("../../partials/navbar.ejs")  %>
    <div class="faq">
        <!-- Pink Background -->
        <div class="PinkBG "></div>
        <!-- Contact Form Container -->
        <div class="form-container">
            <h2 class="contactus-head text-center text-brand mb-4">
                <i class="bi bi-stars"></i>
                FAQs
            </h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                  <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <h5>What is the event schedule?</h5>
                      </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          The event schedule, including session times and breaks, can be found on our event page.
                      </div>
                  </div>
              </div>
              
              <div class="accordion-item">
                  <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          <h5>Is there a registration fee?</h5>
                      </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          Details on any fees or free entry options can be found in the registration section.
                      </div>
                  </div>
              </div>
          
              <div class="accordion-item">
                  <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          <h5>What if I cannot attend after registering?</h5>
                      </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          Please contact us in advance if you cannot attend. This allows us to manage our participant list.
                      </div>
                  </div>
              </div>
          
              <div class="accordion-item">
                  <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                          <h5>Can I transfer my registration to someone else?</h5>
                      </button>
                  </h2>
                  <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          Yes, but please inform us beforehand to transfer the registration and update participant information.
                      </div>
                  </div>
              </div>
          
              <div class="accordion-item">
                  <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                          <h5>What should I do if I experience technical difficulties?</h5>
                      </button>
                  </h2>
                  <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          Please contact us in advance if you cannot attend. This allows us to manage our participant list.
                      </div>
                  </div>
              </div>
          </div>
          
    </div>
    </div>

    <%- include("../../partials/footer.ejs")  %>
    <%- include("../../partials/script.ejs")  %>


</body>


</html>