<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
     <link rel="stylesheet" href="../../../public/vendor/bootstrap-icon/bootstrap-icons.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
     <link rel="stylesheet" href="../../../public/css/main.css">
     <link rel="stylesheet" href="../../../public/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg shadow-lg">
        <div class="container">
            <a class="navbar-brand me-5" href="#">
                <img src="..j/../../public/img/Prutika_Logo_text(2).png" alt="logo" style="width: 150px;">
            </a>

            <div class="d-none d-md-flex align-items-center position-relative mt-2 mt-lg-0 me-lg-3 w-md-75 w-lg-25">
                <input type="text" class="form-control search-bar border-style w-100" id="searchEvent"
                    placeholder="Search Event">
                <button class="btn-pink position-absolute">
                    <i class="fa-solid fa-magnifying-glass fs-6"></i>
                </button>
            </div>


            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <a class="navbar-brand me-5" href="#">
                            <img src="../../../public/img/Prutika_Logo_text(2).png" alt="logo" style="width: 150px;">
                        </a>
                    </h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <!-- Search Bar (Mobile) -->
                    <div class="d-md-none mb-3 position-relative">
                        <input type="text" class="form-control search-bar border-style w-100" id="searchEventMobile"
                            placeholder="Search Event">
                        <button class="btn-pink position-absolute"
                            style="right: 10px; top: 50%; transform: translateY(-50%);">
                            <i class="fa-solid fa-magnifying-glass fs-6"></i>
                        </button>
                    </div>

                    <ul class="navbar-nav justify-content-end flex-grow-1 gap-3">
                        <li class="nav-item">
                            <button class="btn btn-outline-brand w-100 my-2">
                                <i class="fa-solid fa-plus me-2"></i>Create post
                            </button>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn btn-outline-brand dropdown-toggle w-100 my-2" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Browse
                            </a>
                            <ul class="dropdown-menu border-0 shadow-sm w-100">
                                <li><button class="dropdown-item" type="button">Switch to Attendee</button></li>
                                <li><button class="dropdown-item" type="button">Another action</button></li>
                                <li><button class="dropdown-item" type="button">Something else here</button></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-brand w-100 my-2">
                                <i class="fa-solid fa-ticket me-2"></i>My Ticket
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-brand w-100 my-2">Log in</button>
                        </li>
                        <li class="nav-item">
                            <button class="btn btn-brand w-100 my-2">Sign Up</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <div class="team-member">
            <div class="container py-5">
                <div class="title text-center">
                    <p><span class="text-brand">TEAM</span> MEMBER</p>
                    <h3>Welcome To <span class="text-brand">Pruttika Team</span></h3>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="member-profile text-center">
                            <div class="profile">
                                <img src="../../../public/img/ising.jpg" alt="">
                                <div class="social-media-team d-flex justify-content-center">
                                    <a href="#"><i class="fa-brands fa-facebook-f icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in icon-media"></i></a>
                                </div>
                            </div>
                            <div class="profile-text">
                                <h4>Chea Ising</h4>
                                <p>Web Developer(RUPP) Year<span class="text-brand fw-bold">3</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="member-profile text-center">
                            <div class="profile">
                                <img src="../../../public/img/sophak.jpg" alt="">
                                <div class="social-media-team d-flex justify-content-center">
                                    <a href="#"><i class="fa-brands fa-facebook-f icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in icon-media "></i></a>
                                </div>
                            </div>
                            <div class="profile-text">
                                <h4>Rith Munisophak</h4>
                                <p>Web Developer(RUPP) Year<span class="text-brand fw-bold">3</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="member-profile text-center">
                            <div class="profile">
                                <img src="../../../public/img/chenny.jpg" alt="">
                                <div class="social-media-team d-flex justify-content-center">
                                    <a href="#"><i class="fa-brands fa-facebook-f icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in icon-media"></i></a>
                                </div>
                            </div>
                            <div class="profile-text">
                                <h4>Ngoun Chenny</h4>
                                <p>Web Developer(RUPP) Year<span class="text-brand fw-bold">3</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="member-profile text-center">
                            <div class="profile">
                                <img src="image/image/software-team-img4.png" alt="">
                                <div class="social-media-team d-flex justify-content-center">
                                    <a href="#"><i class="fa-brands fa-facebook-f icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in icon-media"></i></a>
                                </div>
                            </div>
                            <div class="profile-text">
                                <h4>Sok Rithen</h4>
                                <p>Web Developer(RUPP) Year<span class="text-brand fw-bold">4</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="member-profile text-center">
                            <div class="profile">
                                <img src="../../../public/img/layheng.jpg" alt="">
                                <div class="social-media-team d-flex justify-content-center">
                                    <a href="#"><i class="fa-brands fa-facebook-f icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram  icon-media me-3"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in icon-media"></i></a>
                                </div>
                            </div>
                            <div class="profile-text">
                                <h4>Lay Heng</h4>
                                <p>Web Developer(RUPP) Year<span class="text-brand fw-bold">3</span></p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="../../../public/js/bootstrap.bundle.min.js"></script>
</html>
