<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notification Dropdown</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../public/vendor/bootstrap-icon/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="../../../public/css/main.css">
  <link rel="stylesheet" href="../../../public/css/style.css">

</head>

<body>

  <div class="container mt-5 d-flex justify-content-end">
    <div class="notification-wrapper border">
      <div class="notification-icon">
        <i class="fas fa-bell fs-4"></i>
        <span class="badge">3</span>
      </div>

      <div class="notification-dropdown">
        <div class="notification-header title d-flex justify-content-between">
        <div>Notifications</div>
        <a class="fw-normal" href="#">Make as Read</a>
        </div>

        <div class="notification-item px-0 no mb-3">
          <div class="icon-type-noti">
            <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
          </div>

          <div class="message">
            <span class="user-name">Tom Jerrynie</span>
            <div class="content">How can i join the event?</div>
          </div> 
          <span class="icon-unread me-3"></span>
         <span class="time me-4">2 hours ago</span>
          <i class="fa-solid fa-ellipsis-vertical fs-5 text-brand"></i>
        </div>

        <div class="notification-item px-0 no mb-3">
          <div class="icon-type-noti">
            <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
          </div>

          <div class="message">
            <span class="user-name">Tom Jerrynie</span>
            <div class="content">How can i join the event?</div>
          </div> 
          <!-- <span class="icon-unread me-3"></span> -->
         <span class="time me-4">2 hours ago</span>
          <i class="fa-solid fa-ellipsis-vertical fs-5 text-brand"></i>
        </div>

        <div class="notification-item px-0 no mb-3">
          <div class="icon-type-noti">
            <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
          </div>

          <div class="message">
            <span class="user-name">Tom Jerrynie</span>
            <div class="content">How can i join the event?</div>
          </div> 
          <!-- <span class="icon-unread me-3"></span> -->
         <span class="time me-4">2 hours ago</span>
          <i class="fa-solid fa-ellipsis-vertical fs-5 text-brand"></i>
        </div>

        <div class="notification-item px-0 no mb-3">
          <div class="icon-type-noti">
            <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
          </div>

          <div class="message">
            <span class="user-name">Tom Jerrynie</span>
            <div class="content">How can i join the event?</div>
          </div> 
          <!-- <span class="icon-unread me-3"></span> -->
         <span class="time me-4">2 hours ago</span>
          <i class="fa-solid fa-ellipsis-vertical fs-5 text-brand"></i>
        </div>
        <div class="notification-footer mt-3">
          <button type="submit" class="btn btn-brand me-3 ">See All Notifications</button>
          <button type="submit" class="btn btn-brand ">Clear All</button>
        </div>

      </div>

    </div>
  </div>


</body>

</html>