<!DOCTYPE html>
<html>
    <%- include("../../partials/head.ejs") %>
    <body>
        <%- include("../../partials/navbar.ejs")  %>
        <div class="mb-4">&nbsp;</div>

        <div class="container py-4" style="max-width: 1000px !important;">
            <div
                class style="color: #333 !important; ">
                <div
                    class="d-flex align-items-center justify-content-between">
                    <div class="d-flex ">
                        <h4>Notifications</h4>
                        
                    </div>

                    <div class="d-flex align-items-center">

                        <div class="btn text-brand btn-sm border-0" id="btnMarkAll">Mark all as read</div>
                    </div>
                </div>
            </div>

            <div>
                <ul class="nav nav-underline mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item border-bottom-2" role="presentation">
                        <button
                            class="nav-link" 
                            id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button"
                            role="tab" aria-controls="pills-home"
                            aria-selected="true">All</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                            id="pills-profile-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button"
                            role="tab" aria-controls="pills-profile"
                            aria-selected="false">Unread <span id="notiUnreadCount"></span></button>
                    </li>
                </ul>
                <div class="tab-content m-0" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-home"
                        role="tabpanel" aria-labelledby="pills-home-tab"
                        tabindex="0">

                        <div class="row" id="notification-container">
                            <div class="col-12">
                                <div class="notification mb-3 py-3 rounded-3 shadow-hover">
                                    <!-- <div class="line-style-noti me-3"></div> -->
                                    <div class="d-flex align-items-start justify-content-between w-100">
                                        <div class="d-flex">
                                            <div class="me-2">
                                                <div
                                                class="d-flex align-items-center justify-content-center"
                                                style="width: 3rem;height: 3rem;border-radius: 50%; background-color: #DCFCE7; color: #37CC6D;">
                                                <i data-lucide="check"
                                                    style="width: 1.5rem;height: 1.5rem;"></i>
                                            </div>
                                            </div>
                            
                                            <div class="message mt-1">
                                                <h6
                                                    style="color: #333;font-size: 1.2rem;">${title}</h6>
                                                <div
                                                    class="d-flex align-items-center">
                                                    <p class="content mb-2"
                                                        style="color: #4b5563;"
                                                        id="message">${message}</p>
                            
                                                </div>
                                                <div style="color: #4b5563;"
                                                    class="d-flex align-items-center">
                                                    <i
                                                        data-lucide="clock"
                                                        style="stroke-width: 1.25; width: 1.25rem;" class=""></i>
                                                    <div class="ms-2 me-3">${moment(json.created_at)
                            .startOf("day")
                            .fromNow()}</div> 
                                                    ${json.is_read ? '' : `<div
                                                        class="icon-unread bg-brand"></div>`}
                                                </div>
                                                <!-- Online Link -->
                                                <div class="mt-3 d-flex w-100">
                                                    
                                                    <div class="w-100">
                                                        <div class="input-field is_invalid input-field-setting input-group px-0 d-flex" id="input-field-confirm-new-password" style="height: 40px !important;border-right: 0 !important; border-top-right-radius: 0 !important;border-bottom-right-radius: 0 !important;">
                                                            <i class="fa-solid fa-link fs-6"></i>
                                                            <input type="password" placeholder="Online Event Link"
                                                              id="confirm-new-password" />
                                                              
                                                          </div>
                                                          
                                                          <div
                                                            class="invalid_feedback text-danger d-flex align-items-center mb-2"
                                                            id="invalid_feedback_confirm_new_password">
                                                            <i
                                                              class="bi bi-exclamation-triangle-fill d-flex align-items-center"></i>
                                                            <div class="ms-2">Password must be the same as your new password.</div>
                                                          </div>
                                                          
                                                        </div>
                                                        
                                                        
                                                            <button style="height: 40px !important;border-right: 0 !important; border-top-left-radius: 0 !important;border-bottom-left-radius: 0 !important;" type="button" class="btn btn-brand fw-normal">Send</button>
                                                        
                                                    </div>
                                               
                                            </div>
                                        </div>
                        
                                        <div class="dropdown">
                                            <button
                                                type="button"
                                                class="btn btn-icon border-0 rounded-pill dropdown-toggle hide-arrow"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                <i
                                                    data-lucide="ellipsis-vertical"></i>
                                            </button>
                                            <ul
                                                class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item"
                                                        href="javascript:void(0);">Mark As Read</a></li>
                                                
                                                <li><a class="dropdown-item"
                                                        href="javascript:void(0);">Delete</a></li>
                                                <li>
                                                    <hr
                                                        class="dropdown-divider" />
                                                </li>
                                                <li><a class="dropdown-item"
                                                        href="javascript:void(0);">Separated
                                                        link</a></li>
                                            </ul>
                                        </div>
                        
                                    </div>
                                    
                                   
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade show active" id="pills-profile"
                            role="tabpanel" aria-labelledby="pills-profile-tab"
                            tabindex="0">
                    <div class="row" id="notification-container-unread">

                    </div>
                           <!-- notification-container-unread -->
                        </div>
                </div>

            </div>

            <%- include("../../partials/script.ejs") %>
            <script src="/js/notification/notification.js"></script>
        </body>
    </html>



