<!DOCTYPE html>
<html>
<head>
    <title> See All Notification Page</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/vendor/bootstrap-icon/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../../../public/css/main.css">
    <link rel="stylesheet" href="../../../public/css/style.css">
    
</head>
<body>
    <div class="allnotification d-flex align-items-center justify-content-center">
        <div class="container d-flex align-items-center justify-content-between">
            <h4>All Notification</h4>
    
            <div class="d-flex align-items-center">
                <div class="num-circle ms-3 fs-4 d-flex align-items-center justify-content-center text-brand" 
                     style="width: 30px; height: 30px; border-radius: 50%; background-color: #f0f0f0;">
                    <strong>4</strong>
                </div>
                <div class="ms-3">Make As Read</div>
            </div>
        </div>
    </div>
    
    <div class="container py-4">
        
        <div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active btn-brand" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">ALL</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Unread</button>
                </li>
              </ul>
              <div class="tab-content m-0" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                   
            <div class="row">
                <div class="col-12">
                    <div class="notification mb-3">
                        <!-- <div class="line-style-noti me-3"></div> -->
                       <div>
                        <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
                        <!-- <div class="icon-noti d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-bell"></i>
                        </div> -->
                       </div>
                        <div class="message">
                            <span class="user-name">Tom Jerrynie</span>
                            <div class="content">How can i join the event?</div>
                        </div>
                        <span class="icon-unread me-3"></span>
                        <span class="time me-3">2 days ago</span>
                        <div class="dropdown">
                            <button class="btn btn-brand " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis fs-5 px-3"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><button class="dropdown-item fs-6" type="button">Make As Read</button></li>
                              <li><button class="dropdown-item fs-6" type="button">Delete</button></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="notification mb-3">
                        <!-- <div class="line-style-noti me-3"></div> -->
                       <div>
                        <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
                        <!-- <div class="icon-noti d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-bell"></i>
                        </div> -->
                       </div>
                        <div class="message">
                            <span class="user-name">Tom Jerrynie</span>
                            <div class="content">How can i join the event?</div>
                        </div>
                        <span class="time me-3">2 days ago</span>
                        <div class="dropdown">
                            <button class="btn btn-brand " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis fs-5 px-3"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><button class="dropdown-item" type="button">Make As Read</button></li>
                              <li><button class="dropdown-item" type="button">Delete</button></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="notification mb-3">
                        <!-- <div class="line-style-noti me-3"></div> -->
                       <div>
                        <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
                        <!-- <div class="icon-noti d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-bell"></i>
                        </div> -->
                       </div>
                        <div class="message">
                            <span class="user-name">Tom Jerrynie</span>
                            <div class="content">How can i join the event?</div>
                        </div>
                        <span class="time me-3">2 days ago</span>
                        <div class="dropdown">
                            <button class="btn btn-brand " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis fs-5 px-3"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><button class="dropdown-item" type="button">Make As Read</button></li>
                              <li><button class="dropdown-item" type="button">Delete</button></li>
                            </ul>
                          </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="notification mb-3">
                        <!-- <div class="line-style-noti me-3"></div> -->
                       <div>
                        <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
                        <!-- <div class="icon-noti d-flex align-items-center justify-content-center">
                            <i class="fa-solid fa-bell"></i>
                        </div> -->
                       </div>
                        <div class="message">
                            <span class="user-name">Tom Jerrynie</span>
                            <div class="content">How can i join the event?</div>
                        </div>
                        <span class="time me-3">2 days ago</span>
                        <div class="dropdown">
                            <button class="btn btn-brand " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis fs-5 px-3"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><button class="dropdown-item" type="button">Make As Read</button></li>
                              <li><button class="dropdown-item" type="button">Delete</button></li>
                            </ul>
                          </div>
                    </div>
                </div>
            </div> 
    
    
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

                    <div class="col-12">
                        <div class="notification mb-3">
                            <!-- <div class="line-style-noti me-3"></div> -->
                           <div>
                            <img src="../../../public/img/Default_pfp.jpg" alt="User Avatar" class="avatar">
                            <!-- <div class="icon-noti d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-bell"></i>
                            </div> -->
                           </div>
                            <div class="message">
                                <span class="user-name">Tom Jerrynie</span>
                                <div class="content">How can i join the event?</div>
                            </div>
                            <span class="icon-unread me-3"></span>
                            <span class="time me-3">2 days ago</span>
                            <div class="dropdown">
                                <button class="btn btn-brand " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-ellipsis fs-5 px-3"></i>
                                </button>
                                <ul class="dropdown-menu">
                                  <li><button class="dropdown-item" type="button">Make As Read</button></li>
                                  <li><button class="dropdown-item" type="button">Delete</button></li>
                                </ul>
                              </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
      
      </div>

 
    

    
    <script src="../../../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>