<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="/admin/">
                    <i class="fas fa-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li><a href="/admin/user/display">
                    <i class="fas fa-user-alt"></i>
                    <span class="nav-text">User Mgmt.</span>
                </a>
            </li>

            <li><a href="/admin/organizer/display">
                    <i class="fas fa-user-shield"></i>
                    <span class="nav-text">Organizer Mgmt.</span>
                </a>
            </li>

            <li><a href="/admin/event/display">
                    <i class="fas fa-calendar-alt"></i>
                    <span class="nav-text">Event Mgmt.</span>
                </a>
            </li>

            <li><a href="/admin/setting/display">
                    <i class="fas fa-info-circle"></i>
                    <span class="nav-text">Account Setting</span>
                </a>
            </li>

        </ul>
    </div>
</div>