<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu" data-title="Dashboard">
            <li><a class="d-flex align-items-center" href="/admin/">
                <div class="d-flex align-items-center justify-content-center" style="width: 32px !important; height: 32px !important;">

                    <i class="fas fa-home"></i>
                </div>
                    <span class="nav-text ms-2">Dashboard</span>
                </a>
            </li>

            <li><a class="d-flex align-items-center" href="/admin/user/display"  data-title="User Management">
                <div class="d-flex align-items-center justify-content-center" style="width: 32px !important; height: 32px !important;">

                    <i class="fas fa-user-alt"></i>
                </div>
                    <span class="nav-text ms-2">User</span>
                </a>
            </li>

            <li><a class="d-flex align-items-center" href="/admin/organizer/display"  data-title="Organizer Management">
                <div class="d-flex align-items-center justify-content-center" style="width: 32px !important; height: 32px !important;">

                    <i class="fas fa-user-shield"></i>
                </div>
                    <span class="nav-text ms-2">Organizer</span>
                </a>
            </li>

            <li><a class="d-flex align-items-center" href="/admin/event/display"  data-title="Event Management">
                <div class="d-flex align-items-center justify-content-center" style="width: 32px !important; height: 32px !important;">

                    <i class="fas fa-calendar-alt"></i>
                </div>
                    <span class="nav-text ms-2">Event</span>
                </a>
            </li>

            <li><a class="d-flex align-items-center" href="/admin/setting/display" data-title="Account Setting">
                    
                    <div class="d-flex align-items-center justify-content-center" style="width: 32px !important; height: 32px !important;">

                        <i class="fas fa-info-circle"></i>
                    </div>
                    <span class="nav-text ms-2">Account Setting</span>
                </a>
            </li>

        </ul>
    </div>
</div>